@import "/html/jqcd/skins/main/skin.css";

html { overflow-x: auto }
.mstop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e4eaf2; PADDING-BOTTOM: 3px; MARGIN: 8px auto 0px; BORDER-LEFT: #8394b2 4px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.msmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #8394b2 4px solid; COLOR: #465584; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}
.gmstop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #faa298; PADDING-BOTTOM: 3px; MARGIN: 8px auto 0px; BORDER-LEFT: #8394b2 4px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.gmsmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #8394b2 4px solid; COLOR: #465584; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}

form { display: inline }
img { vertical-align: middle; border: 0px }
BODY { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #000; margin: 0px 10px 0px 10
px; background-color: #E9E7E2 }
TABLE, TR, TD { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #000 }
a:link, a:visited, a:active { text-decoration: underline; color: #000 }
a:hover { color: #465584; text-decoration: underline }

TABLE.post_table {
  background-color: #345487;
  vertical-align:top;
}
TABLE.post_table TD{
  background-color: #CCC;
  padding: 3px 3px 3px 3px;
}
TABLE.post_table TH{
  background-color: #9FBCE3;
  padding: 3px 3px 3px 3px;
}


fieldset.search { padding: 6px; line-height: 150% }
label { cursor: pointer }
img.attach { border: 2px outset #EEF2F7; padding: 2px }
.googleroot { padding: 6px; line-height: 130% }
.googlechild { padding: 6px; margin-left: 30px; line-height: 130% }
.googlebottom, .googlebottom a:link, .googlebottom a:visited, .googlebottom a:active { font-size: 11px; color: #3A4F6C }
.googlish, .googlish a:link, .googlish a:visited, .googlish a:active { font-size: 14px; font-weight: bold; color: #00D }
.googlepagelinks { font-size: 1.1em; letter-spacing: 1px }
.googlesmall, .googlesmall a:link, .googlesmall a:active, .googlesmall a:visited { font-size: 10px; color: #434951 }
li.helprow { padding: 0px; margin: 0px 0px 10px 0px }
ul#help { padding: 0px 0px 0px 15px }
option.cat { font-weight: bold }
option.sub { font-weight: bold; color: #555 }
.caldate { text-align: right; font-weight: bold; font-size: 11px; color: #777; background-color: #E2DFD8; padding: 4
px; margin: 0px }
.warngood { color: green }
.warnbad { color: red }
#padandcenter { margin-left: auto; margin-right: auto; text-align: center; padding: 14px 0px 14px 0px }
#profilename { font-size: 28px; font-weight: bold }
#calendarname { font-size: 22px; font-weight: bold }
#photowrap { padding: 6px }
#phototitle { font-size: 24px; border-bottom: 1px solid black }
#photoimg { text-align: center; margin-top: 15px }
#ucpmenu { line-height: 150%; width: 22%; border: 1px solid #345487; background-color: #E2DFD8 }
#ucpmenu p { padding: 2px 5px 6px 9px; margin: 0px }
#ucpcontent { background-color: #E2DFD8; border: 1px solid #345487; line-height: 150%; width: auto }
#ucpcontent p { padding: 10px; margin: 0px }
#ipsbanner { position: absolute; top: 1px; right: 5% }
#logostrip { border: 1px solid #345487; background-color: #AAB7C8; background-image: url(<#IMG_DIR#>/tile_back2.gif); padding: 0px; margin: 0px }
#submenu { border: 1px solid #AAB7C8; background-color: #BBC9DB; font-size: 10px; margin: 3px 0px 3px 0px; color: #3A4F6C; font-weight: bold }
#submenu a:link, #submenu  a:visited, #submenu a:active { font-weight: bold; font-size: 10px; text-decoration: none; color: #3A4F6C }
#userlinks { border: 1px solid #C2CFDF; background-color: #AAB7C8 }
#navstrip { font-weight: bold; padding: 6px 0px 6px 0px }
.activeuserstrip { background-color: #AAB7C8; padding: 6px }
.pformstrip { background-color: #E2DFD8; color: #3A4F6C; font-weight: bold; padding: 7px; margin-top: 1px }
.pformstrip2 { background-color: #D2D0CB; color: #3A4F6C; font-weight: bold; padding: 7px; margin-top: 1px }
.pformleft { background-color: #E9E7E2; padding: 6px; margin-top: 1px; width: 10%; border-top: 1px solid #C2CFDF; border-right: 1px solid #C2CFDF }
.pformleftw { background-color: #E9E7E2; padding: 6px; margin-top: 1px; width: 40%; border-top: 1px solid #C2CFDF; border-right: 1px solid #C2CFDF }
.pformright { background-color: #E9E7E2; padding: 6px; margin-top: 1px; border-top: 1px solid #C2CFDF }
.post1 { background-color: #E2DFD8 }
.post2 { background-color: #E9E7E2 }
.postlinksbar { background-color: #E2DFD8; padding: 7px; margin-top: 1px; font-size: 10px; background-image: url(
<#IMG_DIR#>/post_tile_sub.gif) }
.row1 { background-color: #E9E7E2 }
.row2 { background-color: #E2DFD8 }
.row3 { background-color: #F0EDE8 /*#EEF2F7*/ }
.row4 { background-color: #E2DFD8 }
.row5 { background-color: #AAB7C8 }
.pinned_topic { background-color: #AAB7C8 }
.darkrow1 { background-color: #AAB7C8; color: #4C77B6 }
.darkrow2 { background-color: #AAB7C8; color: #3A4F6C }
.darkrow3 { background-color: #AAB7C8; color: #3A4F6C }
.hlight { background-color: #DFE6EF }
.dlight { background-color: #E9E7E2 }
.titlemedium { font-weight: bold; color: #3A4F6C; padding: 7px; margin: 0px; background-image: url(<#IMG_DIR#>/tile_sub.gif) }
.titlemedium  a:link, .titlemedium  a:visited, .titlemedium  a:active { text-decoration: underline; color: #3A4F6C }
.maintitle { vertical-align: middle; font-weight: bold; color: #FFF; letter-spacing: 1px; padding: 8px 0px 8px 6px; background-image: url(<#IMG_DIR#>/tile_back.gif) }
.maintitle a:link, .maintitle  a:visited, .maintitle  a:active { text-decoration: none; color: #FFF }
.maintitle a:hover { text-decoration: underline }
.plainborder { border: 1px solid #345487; background-color: #D2D0CB }
.tableborder { border: 1px solid #345487; background-color: #D2D0CB; padding: 0; margin: 0 }
.tableborder2 { border: 1px solid #345487; background-color: #E9E7E2; padding: 0; margin: 0 }
.tablefill { border: 1px solid #345487; background-color: #E2DFD8; padding: 6px }
.tablepad { background-color: #E9E7E2; padding: 6px }
.tablepad2 { background-color: #E2DFD8; padding: 6px }
.tablepad3 { background-color: #E9E7E2; padding: 6px }
.tablebasic { width: 100%; padding: 0px 0px 0px 0px; margin: 0px; border: 0px }
.wrapmini { float: left; line-height: 1.5em; width: 25% }
.pagelinks { float: left; line-height: 1.2em; width: 35% }
.desc { font-size: 10px; color: #434951 }
.desc2 { font-size: 10px; background-color: #E9E7E2 }
.edit { font-size: 9px }
.signature { font-size: 10px; color: #339; line-height: 150% }
.postdetails { font-size: 10px }
.postcolor { font-size: 12px; line-height: 160% }
.normalname { font-size: 12px; font-weight: bold; color: #003 }
.normalname a:link, .normalname a:visited, .normalname a:active { font-size: 12px }
.unreg { font-size: 11px; font-weight: bold; color: #900 }
.searchlite { font-weight: bold; color: #F00; background-color: #FF0 }
.quote { font-family: Verdana, Arial; font-size: 11px; color: #465584; background-color: #F8F8F8; border: 1px solid 
#000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px }
.code { font-family: Courier New, serif; font-size: 11px; color: #465584; background-color: #FAFCFE; border: 1px solid #000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px;	overflow: auto;         line-height: 120%;}
.copyright { font-family: Verdana, Tahoma, Arial, Sans-Serif; font-size: 9px; line-height: 12px }
.codebuttons { font-size: 10px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }
.forminput, .textinput, .radiobutton, .checkbox { font-size: 11px; font-family: verdana, helvetica, sans-serif; vertical-
align: middle }
.thin { padding: 6px 0px 6px 0px; line-height: 140%; margin: 2px 0px 2px 0px; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF }
.purple { color: purple; font-weight: bold }
.red { color: red; font-weight: bold }
.green { color: green; font-weight: bold }
.hintshead { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #D1DCEB; border: 1px solid #97A2B0 }
.hintstext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; background-color: #F5F9FD; color: #000 }
.blue { color: blue; font-weight: bold }
.orange { color: #F90; font-weight: bold }
.voteprefix {color:green}
.movedprefix {color:red}
.mirrorprefix {
	color:green;
}
.mirrorhint {
	color:gray;
}
.clubprefix {color:blue}
.pinnedprefix {}

.spoiler {
  border: 1px solid black;
  padding: 2px 0px;
  margin-top: 5px
}

.spoiler_header {
  padding-left: 16px;
  height: 18px;
  vertical-align: abs-middle;
  font-size: 80%;
}

.spoiler .body {
  border-top: 1px solid black;
  padding: 0px 2px;
}

.open .spoiler_header {
  background: url('<#IMG_DIR#>/minus.png') 4px center no-repeat;
}

.closed .spoiler_header {
  background: url('<#IMG_DIR#>/plus.png') 4px center no-repeat;
}
span.attach_preview{
	display:inline-block;
	clear: none;
	vertical-align: baseline;
	text-align: center;
}
span.attach_preview p {
	display:inline;
	font-weight: bold;
	font-size: 9px;
}
span.attach_preview img {
	border: 1px solid black;
	border-spacing: 0px;
	padding: 0 0 0 0;
	display:inline;
}
span.attach_preview p img {
	border: 0px;
}
