
# ------------------------------------------------------------------------------
#   Application
# ------------------------------------------------------------------------------

APP_DEBUG=true
APP_ENV=dev


# ------------------------------------------------------------------------------
#   Database
# ------------------------------------------------------------------------------

DB_HOST=mysql
DB_DATABASE=invision
DB_USERNAME=user
DB_PASSWORD=password


# ------------------------------------------------------------------------------
#   Build
# ------------------------------------------------------------------------------

# Версия проставляется для образа:
# - `APP_ENV=prod docker compose --profile build build`
# - `APP_ENV=prod docker compose --profile build push`
BUILD_VERSION=0.0.1

# Опционально, версии софта:
# BUILD_FPM_VERSION=7.4-fpm
# BUILD_MYSQL_VERSION=9.6
# BUILD_SERVER_VERSION=1.10.3-minimal

# Опционально, публичные порты софта:
# BUILD_FPM_PUBLIC_PORT=9000
# BUILD_DB_PUBLIC_PORT=3306
# BUILD_SERVER_HTTP_PUBLIC_PORT=80
# BUILD_SERVER_HTTPS_PUBLIC_PORT=443
