# IntelliJ platform
/.idea
*.iml

# Configuration
conf_global.php
ip_table.php
app/config/app.php
app/config/database.php
app/config/logs.php

# Storage
/htdocs/sources/lib/TNX-something-long-random-string-324sd54ywey/*.txt
/logs/
/htdocs/download/
/htdocs/uploads/

# Composer dependencies
/vendor
