@import "../html/jqcd/jqcd.css";

@import "tags.scss";

table {
    width: 100%;
    border-spacing: 0;
}

img.icon_off{
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.p	{table-layout:fixed}
.code{
    margin:2px 0px 0px 0px;
    padding:0;
    white-space: nowrap;
    font-family: monospace;
    overflow-x: auto;
    width: 100%;
}
.code {
	margin: 0 !important;
	padding: 0 !important;
}
.code_wrap {
    white-space: normal !important;
}
.code_collapsed {
    max-height: 15em;
    overflow-y: auto;
}
.code_expanded {
	max-height: none !important;
}
.pre_code {
    margin:1px 0px 0px 0px;
    padding:3px 0px 0px 0px;
    border: 0;
}
.line_coloured_code li:nth-child(2n), .line_coloured_code div.code_line:nth-child(2n) {
	background-color:rgba(0,0,0,0.03);
}
.line_coloured_code li:nth-child(2n+1), .line_coloured_code div.code_line:nth-child(2n+1) {
	background-color:rgba(255,255,255,0.03);
}
.pre_code span {
	cursor: pointer;
}
.code span {
	cursor: auto;
}
.code ol li {
	border-left: 2px solid green;
	padding: 0em 0.5em 0em 0.5em;
	margin: 0em 0em 0em 3em;
	line-height: 1.5em;
	width: auto;
}

.code div.code_line {
	margin: 0;
	line-height: 1.5em;
	width: auto;
	border: 0 !important;
}
.code ol {
	padding: 0em 0em 0em 0.5em;
	margin: 0px 0px 0px 0px;
}

pre	{
    MARGIN: 0px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.open .body {    display: block; }
.closed .body {    display: none; }
.spoiler_header {   cursor: pointer; }


.autodelete_message {
	color: red;
	font-size: 9px;
	display: block;
	margin-top: 2em;
}

#upload_container input[type="file"] {
	margin-right: 1.5em;
}

/* DONATE FORM */
/* Для скинов:
 - Main
 - NewYear
 - Sources Winter
 - Xpression final
 - Text Skin
*/
.donate {
	background		: url('/img/5rub/button.png') 90% 95% no-repeat;
	display			: block;
	width			: 200px;
	height			: 50px;
	float			: right;
	border-collapse: collapse;
}
.donate td {background:none;}
.donate td.donate_text {
	font-family		: Verdana;
	font-size		: 11px;
	color			: #333399;
	text-align		: right;
	height			: 26px;
}
.donate td.donate_image {
	width			: 50px;
	height			: 100%;
	vertical-align	: bottom;
}
.donate td.donate_button {
	width			: 100%;
	height			: 24px;
	vertical-align		: top;
	padding-top		: 0px;
}
.donate td.donate_button input {
	background-color: transparent;
	border			: 0px;
	font-weight		: bold;
	cursor			: pointer;
	color			: #333399;
	text-align		: right;
	width			: 100px;
	background		: url('/img/5rub/ya_money.png') 10% 50% no-repeat;
	margin-left		: 50px;
	margin-top		: 1px;
}
#upload_container input, #upload_container button {
	vertical-align: baseline;
}

.no_controls_pre_code {
      display:none;
      z-index:3;
      position:absolute;
}

.rules-border,
.warning-message,
.bordered-red {
	border: 2px solid red;
	/* must depend on skin */
	background-color: white;
}

div.rules-border {
	padding: 2px;
    background-color: transparent;
}

div.warning-message {
	margin: 10px 0;
	padding: 3px;
}

.red-word {
	color: red;
	font-weight: bold;
}

.topic-attached-links-title {
	color: maroon;
	font-weight: bold;
}

.topic-attached-links-list {
	margin-top:0;
	margin-bottom:0;
}

.topic-attached-links-list a {
	font-weight: bold;
}

.posts-topic-title {
	font-weight: bold;
}

.posts-links-bar {
	font-weight: bold;
}

.topic-mine .b-topics-list-column-author {
    font-weight: bold;
}

.topic-pinned .b-topics-list-column-title {
    font-weight: bold;
}
.last-post-author {
    font-weight: bold;
}
.b-post-author-title {
    font-weight: bold;
}
.b-post-title {
    font-weight: bold;
}
.b-post-author-profile {
    margin-bottom: 1em;
}

.b-post-author-ip {
    font-weight: bold;
    font-size: 10px;
}
.e-ip-title:after {
    content: ':';
}

.b-action-buttons {
    display: block;
    padding: 0;
    margin: 0;
}

.b-action-button {
    display: inline;
    margin: 0;
    padding: 0;
}
.b-action-button:before {
    content: "\00B7"; /* middot */
    margin-left: 5px;
    margin-right: 5px;
}

.b-action-buttons-vline .b-action-button:before {
    content: '|';
}

.b-action-button:first-child:before {
    margin-left: 0;
    margin-right: 0;
    visibility: hidden;
}

.b-post-actions {
    margin: 0;
    float: right;
    padding-top:4px;
    padding-bottom:4px;
}

.b-post-info {
    float:left;
    text-align: left;
    padding-top:4px;
    padding-bottom:4px;
}

.b-post-info .forminput {
    margin: 0 0 0 4px;
}

table.b-post {
    table-layout: fixed;
    border-spacing: 1px;
    border: none;
    width: 100%;
}

.b-post td {
    padding: 3px;
}

.b-post .b-post-author-name {
    width: 140px;
    vertical-align: middle;
}

.b-post-header {
    vertical-align: middle;
}

.b-post-data-row {
    vertical-align: top;
}


.b-topics-list-column-status,
.b-topics-list-column-icon,
.b-topics-list-column-author,
.b-topics-list-column-forum,
.b-topics-list-column-posts_num,
.b-topics-list-column-views_num,
.b-topics-list-column-mod_checkbox
{
    text-align: center;
}

.b-topics-list-column-last_post,
.b-topics-list-column-title
{
    text-align: left;
}

.topics-header th {
    white-space: nowrap;
}

.block {
    display: block;
}

#forum-subscribtion-buttons {
    text-align: center;
    margin: 0.8em 0;
}

.b-forum-filter-wrapper {
    margin-bottom: 1em !important;
}

.b-category {
    margin-bottom: 0.8em;
}

.stats-links {
    margin-bottom: 1em;
    text-align: center;
}

.b-subforum-subscribtion-buttons {
    text-align: center;
    margin-bottom: 0.8em;
}

.b-welcome-message {
    font-weight: bold;
}

.b-user-action-buttons .b-action-button:before {
    margin-left: 0.2em;
    margin-right: 0.3em;
    content: '\00B7'
}

.no-middot:before,
.b-action-button:first-child:before {
    content: '' !important;
    margin: 0 !important;
}

.b-menu-item-prefix {
    margin-right: 0.5em;
}

.rules-title {
    margin-bottom: 0.5em;
}

.rules-wrapper {
    text-align: left;
    margin-bottom: 0.2em;
}
#userlinks {
    width: 100%;
    border: 0;
    border-spacing: 0;
    margin-bottom: 3px;
}

#userlinks tr {
    text-align: center;
}

.b-logo-wrapper {
    width: 210px;
}

.b-header-banner-wrapper {
    width: 468px;
    text-align: right;
}

tr.b-neighbor-links-wrapper {
    height: 24px;
}
.b-neighbor-links-title {
    text-align: right;
}
.b-top-nav-banner-wrapper {
    text-align: right;
    vertical-align: middle;
    width: 468px;
}

.b-donate-wrapper {
    text-align: right;
    vertical-align: middle;
    width: 200px;
}

#BottomLinks {
    margin-top: 0.5em;
    text-align: right;
}

.b-navigation-wrapper {
    text-align: left;
}

.news,
.poll
{
    font-weight: bold;
}

.e-script-execution-stats {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.b-category-title {
    text-align: left;
}
.b-forums-list {
    width: 100%;
    border: none;
    border-spacing: 1px;
}

.b-forums-list td {
    padding: 4px;
}

.e-category-collapse-button,
.e-category-expand-button {
    display: block;
    margin-right: 5px;
    float: left;
}

.b-forums-list-column-image {
    text-align: center;
}
.b-forums-list-column-title {
    text-align: left;
}
.b-forums-list-column-topics {
    text-align: center;
}

.b-forums-list-column-replies {
    text-align: center;
}

.b-forums-list-column-lastpost {
    text-align: left;
}

.e-forum-title-link {
    font-weight: bold;
}

table#QuickLinks {
    width: 100%;
    border-spacing: 0px;
    border: none;
}

.news-wrapper,
.polls-wrapper {
    text-align: left;
}

#ShowAllWrapper {
    text-align: right;
}

.b-quick-login-wrapper {
    text-align: right;
}

.b-legend-row-wrapper {
}

.b-legend {
    width: 50%;
    float: left;
}

.b-legend-block {
    list-style: none;
}
.b-legend-block li {
    margin-top: 5px;
}

.b-legend-block-wrapper {
    width: 50%;
    float: left;
}

.b-forum-subscribtion-buttons {
    text-align: center;
}

.b-forum_jump-wrapper {
    float: left;
    width: 50%;
    text-align: right;
}

.e-legend-description {
    margin-left: 0.5em;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '.';
    height: 0;
    visibility: hidden;
}

.e-new_warning_notice {
    margin-left: 5px;
}

.e-posts-separator {
    height: 5px;
}

.e-signature:before {
    content: '___________';
    color: black;
    display: block;
}

.b-topic-actions {
    margin: 0;
    padding: 0;
}

ul.b-breadcrumbs-top {
    margin: 0;
    padding-left: 0;
}

ul.b-queued_topic-actions {
    display: inline;
    padding-left: 0;
}

ul.b-breadcrumbs-top li {
    padding-left: 20px;
    padding-bottom: 2px;
}

ul.b-breadcrumbs-top li:first-child{
    margin-left: 0px;
}
ul.b-breadcrumbs-top li:nth-child(2) {
    margin-left: 20px;
}
ul.b-breadcrumbs-top li:nth-child(3) {
    margin-left: 35px;
}
ul.b-breadcrumbs-top li:nth-child(4) {
    margin-left: 50px;
}
ul.b-breadcrumbs-top li:nth-child(5) {
    margin-left: 65px;
}
ul.b-breadcrumbs-top li:nth-child(6) {
    margin-left: 80px;
}
ul.b-breadcrumbs-top li:nth-child(7) {
    margin-left: 105px;
}

.b-breadcrumbs-bottom li {
    display: inline;
    margin-left: 5px;
    list-style: none;
}

.b-breadcrumbs-bottom li:before {
    margin-right: 5px;
    content: "\00B7";
}

.b-breadcrumbs-bottom li:first-child {
    margin-left: 0;
}

.b-breadcrumbs-bottom li:first-child:before {
    visibility: hidden;
    content: '';
    margin: 0;
}

.b-breadcrumbs-bottom {
    margin: 0;
    padding: 0 0 5px 0;
}

#GlobalMessage {
    text-align: center;
    padding: 6px 0;
}

.e-attach-title {
    font-weight: bold;
    font-size: 9px;
}
.e-attach-title:after {
    content: ':';
}

.b-attach-image {
    display: inline-block;
    text-align: center;
}

.b-attach .e-attach-title {
    margin-right: 0.5em;
}

.e-post-title-number {
    text-decoration: underline;
}

.e-post-delete-text {
    margin-left: 10px;
}

.b-topic-header-buttons-row {
    margin-bottom: 3px;
    width: 100%;
    border: 0;
    border-spacing: 0;
    padding: 0;
}

.b-topic-bottom-navigation-buttons-wrapper {
    text-align: center;
}

.b-topic-bottom-navigation-buttons:before {
    content: '\00AB'; /* &laquo; */
}

.b-topic-bottom-navigation-buttons:after {
    content: '\00BB'; /* &raquo; */
}

.b-topic-navigation-current {
    font-weight: bold;
}

.b-active-users-detailed {
    padding: 6px;
}

.b-posts-bottom-row {
    width: 100%;
    border-spacing: 0;
    border: 0;
    margin-top: 5px;
    padding: 0;
}

.b-posts-bottom-row .b-bottom-breadcrumbs-wrapper,
.b-posts-bottom-row .b-bottom-pages-wrapper {
    width: 60%;
    float: left;
    margin-bottom: 5px;
}
.b-posts-bottom-row .b-report-wrapper,
.b-posts-bottom-row .b-bottom-topic-actions-wrapper {
    float: right;
    text-align: right;
    width: 40%;
    margin-bottom: 5px;
}

.b-top-pager-wrapper {
    text-align: left;
    text-wrap: avoid;
    width: 40%;
}

.b-top-forum-buttons-wrapper {
    text-align: right;
    width: 60%;
}

.b-list-actions-wrapper {
    text-align: right;
    width: 60%;
}

.b-list-actions-row {
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0;
    border-spacing: 0;
}

.b-forum-list-pages {
    text-align: left;
    width: 40%;
    text-wrap: avoid;
    word-break: keep-all;
}

.b-topics-list-title img {
    margin-right: 1em;
}

.b-search_results-topics-wrapper .b-topics-list-title .e-action-button-link {
    text-decoration: underline;
}

.b-topics-list {
    width: 100%;
    border-spacing: 1px;

}

.b-topics-list td {
    padding: 4px;
}

.b-flash-player-wrapper {
	display: inline-block;
}

.b-found-posts-post-wrapper {
    padding-bottom: 0.5em;
}

.e-post-topic_replies {
    font-weight: bold;
}

.e-post-topic_hits {
    font-weight: bold;
}

.b-found-posts-post .b-post-author-info {
    vertical-align: middle;
}

.b-post-links-forum-title {
    margin-right: 0.5em;
}

.b-post-links-post-title {
    margin-right: 0.5em;
}

span.b-post-links-post:before {
    content: "\00B7"; /* middot */
    margin-left: 5px;
    margin-right: 5px;
}

.b-found-posts-pages-top {
    margin-bottom: 3px;
}

.b-topic-moderators-list {
    margin-bottom: 3px;
}

.b-pm-list {
    border-spacing: 1px;
    width: 100%;
}

.b-pm-list td {
    padding: 4px;
}

.b-pm-list a:link,
.b-pm-list a:visited {
    color: black;
}


.b-column_icon,
.b-column_checkbox {
    text-align: center;
}

.b-column_title {
    text-align: left;
}

.b-column_sender,
.b-column_receiver,
.b-column_messages,
.b-column_date {
    text-align: center;
}

.b-tracking-list_unread tfoot td,
.b-tracking-list_read tfoot td,
.b-pm-list tfoot td {
    text-align: right;
}

.pm-unsent-list .b-pm-list-footer-column {
    text-align: center;
}

.tag-color-named[data-value="mergepost"] {
    color: gray;
}

.post-edited-message {
    margin-top: 1.5em;
}

.group-super_admins,
.group-admins {
    color: red;
}

.group-banned {
    color: gray;
}

.group-moderators {
    color: blue;
}

.group-project_coordinators {
    color: green;
}

.group-global_moderators {
    color: orange;
}

.group-comoderators {
    color: blue;
}

.group-veterans {
    color: purple;
}

.group-offenders {
    color: gray;
}

.group-search_bots {
    font-style: italic;
}

.group-club_members {
    color: navy;
}

.members-groups-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.members-groups-list:before {
    content: '[';
}

.members-groups-list:after {
    content: ']';
}

.members-groups-list li {
    display: inline;
    padding: 0;
    margin-right: 0.3em;
}

.members-groups-list li:not(:last-child):after {
    content: ',';
}

.usercp-menu,
.usercp-menu-group-items,
.usercp-menu-item__inbox-subfolders {
    list-style: none;
    margin: 0;
    padding: 0;
}

.usercp-menu-wrapper {
    vertical-align: top;
}

.usercp-menu-group-items {
    margin-left: 1em;
    margin-top: 3px;
    margin-bottom: 5px;
}

.usercp-menu-group-items > li:before {
    content: "\00b7";
    padding-right: 0.5em;
}

.usercp-menu-item__delete_info-text {
    display: inline-block;
    vertical-align: top;
}

.usercp-menu-item__inbox-subfolders {
    list-style-image: url('/style_images/1/open.gif');
    margin-left: 4em;
}

h3 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.quick_reply_form-container table,
.usercp table {
    width: 100%;
}

.b-buttons-wrapper {
    text-align: center;
}

.b-bbc_codes__i-help-link {
    font-weight: bold;
}

.b-bbc_codes__help:before,
.b-bbc_codes__help:after {
    content: "\00B7";
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
}

.b-pm-list__content-top {
    width: 100%;
    padding:6px;
}

.b-pm-list__pages-top-wrapper {
    margin-bottom: 1em;
}

.b-pm-list__amount-info-wrapper {
    font-style: italic;
}

#b-header {
    border: none;
    width: 100%;
    border-spacing: 0;
}

#b-header td {
    padding: 0;
}

.b-top-navigation-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.b-folder-clear__folders-list {
    width: 100%;
    border-spacing: 1px;
}

.b-folder-clear__folders-list td {
    padding: 4px;
}

.b-folder-clear__row .b-folder-clear__column_name {
    font-weight: bold;
}

.b-folder-clear__column_messages,
.b-folder-clear__column_checkbox {
    text-align: center;
}

.b-folder-clear__options,
.b-folder-clear__buttons {
    text-align: center;
}

.b-folder-rename__buttons {
    text-align: center;
}

.b-address-add-form__fields-wrapper {
    padding-top: 6px;
    /*vertical-align: middle;*/
}

.b-address-list__none {
    text-align: center;
}

.b-address-list {
    width: 100%;
    border-spacing: 1px;
}

.b-address-list td {
    padding: 4px;
}

.b-address-list__wrapper {
    margin: 0.5em 0;
}

.b-address-list__column_options {
    width: 70%;
}

.b-address-list__row .b-address-list__column {
    text-align: left;
    vertical-align: middle;
}

.b-address-list .b-profile-link {
    font-weight: bold;
}

.b-address-list .b-address-description {
    margin-left: 2em;
}

.b-address-list .b-address-description:before {
    content: '[';
    margin-right: 0.5em;
}

.b-address-list .b-address-description:after {
    content: ']';
    margin-left: 0.5em;
}

.b-address-list__options {
    margin-left: 1em;
}

.b-address-edit-form table {
    width: 100%;
}

.b-address-edit-form .b-form-element-wrapper {
    vertical-align: middle;
    text-align: left;
}

.b-address-edit-form .b-form-element__contact-name {
    font-weight: bold;
}

.b-address-edit-form label,
.b-address-edit-form label {
    display: block;
}

.b-archive-form__options {
    width: 100%;
    padding: 6px;
}

.b-archive-form .b-option__label {
    font-weight: bold;
}

.b-archive-form .b-option__value {
    vertical-align: middle;
}

.b-tracking-list_read,
.b-tracking-list_unread {
    width: 100%;
    text-align: center;
    border-spacing: 1px;
}

.b-tracking-list_read td,
.b-tracking-list_unread td
{
    padding: 4px;
}
