/* black label */
$images_path: '../style_images/BlackLabel';
@import "css_common.scss";
@import "../html/jqcd/skins/blacklabel/skin.css";

HTML {
  OVERFLOW-X: auto
}

BODY {
  PADDING-LEFT: 0px;
  PADDING-TOP: 0px;
  PADDING-RIGHT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px 0px;
  FONT-SIZE: 12px;
  FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
  COLOR: #999999;
  BACKGROUND-COLOR: #222222;
  TEXT-ALIGN: center
}

TABLE {
  FONT-SIZE: 11px;
  /*COLOR: #000;*/
  FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
  TEXT-ALIGN: left
}

TR {
}

TD {
  FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
  FONT-SIZE: 11px;
  /*COLOR: black;*/
}

TABLE.post_table {
  background-color: #345487;
  vertical-align: top;
}

TABLE.post_table TD {
  background-color: #CCC;
  padding: 3px 3px 3px 3px;
}

TABLE.post_table TH {
  background-color: #9FBCE3;
  padding: 3px 3px 3px 3px;
}

input,
textarea {
  border: 1px dotted black;
  background-color: #dddddd;
}

select {
  background-color: #dddddd;
}

input[type="submit"],
input[type="button"] {
  border: 1px outset #777777;

}

input[type="image"] {
  border: none;
  background-color: transparent;
}

#ipbwrapper {
  MARGIN-LEFT: auto;
  WIDTH: 95%;
  MARGIN-RIGHT: auto;
  TEXT-ALIGN: left
}

A:link {
  COLOR: #cccccc;
  TEXT-DECORATION: underline
}

A:visited {
  COLOR: #cccccc;
  TEXT-DECORATION: underline
}

A:active {
  COLOR: #cccccc;
  TEXT-DECORATION: underline
}

A:hover {
  COLOR: #ffffff;
  TEXT-DECORATION: underline
}

FORM {
  DISPLAY: inline
}

IMG {
  VERTICAL-ALIGN: middle;
  BORDER-RIGHT: 0px;
  BORDER-TOP: 0px;
  BORDER-LEFT: 0px;
  BORDER-BOTTOM: 0px
}

LI.helprow {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px 0px 10px;
  PADDING-TOP: 0px
}

UL#help {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 15px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px
}

#logostrip {
  MARGIN-TOP: 4px;
  COLOR: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  BACKGROUND: url($images_path + '/logo_bg_02.gif') #000000;
}

#logostrip A {
  FONT-SIZE: 10px;
  COLOR: #FFFFFF;
  TEXT-DECORATION: none
}

#logostrip A:link {
  COLOR: #CCCCCC;
  TEXT-DECORATION: none
}

#logostrip A:active {
  COLOR: #CCCCCC;
  TEXT-DECORATION: none
}

#logostrip A:visited {
  COLOR: #CCCCCC;
  TEXT-DECORATION: none
}

#logostrip A:hover {
  COLOR: #FF9900;
  TEXT-DECORATION: underline
}

.b-forums-list {
  tfoot {
    display: none;
  }
}

.b-subforums-list {
  @extend .b-forums-list;
}

.b-category-footer {
  HEIGHT: 12px;
  BORDER-LEFT: #777777 1px solid;
  BORDER-RIGHT: #333333 1px solid;
  BACKGROUND: url($images_path + '/barf.gif') #666666
}

.menubar {
  MARGIN: 0px 0px;
}

#top-menu {
  MARGIN: 0px 0px;
  /*	PADDING-TOP: 4px;
      PADDING-BOTTOM: 4px;
  */
  FONT-SIZE: 10px;
  FONT-WEIGHT: bold;
  COLOR: #cccccc;
  HEIGHT: 28px;
  text-align: center;
  vertical-align: middle;
  BACKGROUND-COLOR: #000000;
  BACKGROUND: url($images_path + '/tile_sub.gif') #0c0c0c
}

#top-menu TD {
  BORDER-LEFT: #666666 1px solid;
  BORDER-RIGHT: #222222 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
}

#GlobalMessage A:link,
#top-menu A:link {
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  COLOR: #FF9900;
  TEXT-DECORATION: none
}

#GlobalMessage A:visited,
#top-menu A:visited {
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  COLOR: #FF9900;
  TEXT-DECORATION: none
}

#GlobalMessage A:active,
#top-menu A:active {
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  COLOR: #FF9900;
  TEXT-DECORATION: none
}

#GlobalMessage A:hover,
#top-menu A:hover {
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  COLOR: #FF9900;
  TEXT-DECORATION: none
}

#userlinks {
  MARGIN: 4px 0px;
  BORDER-LEFT: #444444 2px solid;
  BORDER-TOP: #444444 2px solid;
  BORDER-RIGHT: #000000 2px solid;
  BORDER-BOTTOM: #000000 2px solid;
  FONT-SIZE: 10px;
  COLOR: #FFFFFF;
  HEIGHT: 18px;
  text-align: center;
  vertical-align: middle;
  BACKGROUND: url($images_path + '/teaser_bg_2.gif') #0c0c0c
}

#userlinks A {
  COLOR: #BB7700;
  TEXT-DECORATION: none
}

#userlinks A:link {
  COLOR: #BB7700;
  TEXT-DECORATION: none
}

#userlinks A:visited {
  COLOR: #BB7700;
  TEXT-DECORATION: none
}

#userlinks A:active {
  COLOR: #BB7700;
  TEXT-DECORATION: none
}

#userlinks A:hover {
  COLOR: #FF9900;
  TEXT-DECORATION: underline
}

.b-navigation-wrapper {
  FONT-WEIGHT: bold;
  COLOR: #cccccc;
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 6px;
  PADDING-TOP: 6px
}

.board {
  FONT-WEIGHT: bold;
  FONT-SIZE: 12px;
  COLOR: #CC6600;
  TEXT-DECORATION: none
}

.board:link {
  FONT-WEIGHT: bold;
  FONT-SIZE: 12px;
  COLOR: #CC6600;
  TEXT-DECORATION: none
}

.board:visited {
  COLOR: #CC6600;
  TEXT-DECORATION: none
}

.board:active {
  COLOR: #FF9900;
  TEXT-DECORATION: none
}

.board:hover {
  COLOR: #FF9900;
  TEXT-DECORATION: underline
}

.row1 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #404040 1px solid;
  BORDER-TOP: #404040 2px solid;
  BORDER-RIGHT: #202020 1px solid;
  BORDER-BOTTOM: #202020 2px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #303030
}

.row2 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #282828 1px solid;
  BORDER-BOTTOM: #282828 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #383838
}

.row3 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #333333 1px solid;
  BORDER-BOTTOM: #333333 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #404040
}

.row4 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #505050 1px solid;
  BORDER-TOP: #505050 1px solid;
  BORDER-RIGHT: #383838 1px solid;
  BORDER-BOTTOM: #383838 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #484848
}

.row5 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #585858 1px solid;
  BORDER-TOP: #585858 1px solid;
  BORDER-RIGHT: #484848 1px solid;
  BORDER-BOTTOM: #484848 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #505050
}

.row6 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #606060 1px solid;
  BORDER-TOP: #606060 1px solid;
  BORDER-RIGHT: #505050 1px solid;
  BORDER-BOTTOM: #505050 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #585858
}

.bottom {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  HEIGHT: 4px;
  MARGIN: 0px 0px;
  BORDER-LEFT: #666666 1px solid;
  BORDER-RIGHT: #333333 1px solid;
  BACKGROUND: url($images_path + '/bottom.gif') #666666
}

.maintitle {
  padding-left: 6px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  border-left: #444444 1px solid;
  border-right: #0c0c0c 1px solid;
  font-weight: bold;
  background-image: url($images_path + '/tile_back.gif');
  vertical-align: middle;
  color: #ff9900;
  a {
    &:link, &:visited, &:active {
      text-decoration: none;
      color: #ff9900
    }
    &:hover {
      color: #ffffff;
      text-decoration: underline
    }
  }
}

h2 {
  @extend .maintitle;
}

/*	BORDER-LEFT: #666666 1px solid;
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-BOTTOM: #333333 1px solid;
	BACKGROUND-COLOR: #000000
*/
.copyright {
  FONT-SIZE: 9px;
  LINE-HEIGHT: 12px;
  FONT-FAMILY: Verdana, Tahoma, Arial, Sans-Serif
}

A.adm_gr {
  COLOR: #FF0000;
  TEXT-DECORATION: none
}

A.coor_gr {
  COLOR: white;
  TEXT-DECORATION: none
}

A.club_gr {
  COLOR: #009900;
  TEXT-DECORATION: none
}

A.mod_gr {
  COLOR: #FF9900;
  TEXT-DECORATION: none
}

A.memb_gr {
  COLOR: darkgray;
  TEXT-DECORATION: none
}

.warn_gr {
  COLOR: black;
  TEXT-DECORATION: none
}

A.warn_gr {
  COLOR: black;
  TEXT-DECORATION: none
}

.bot_gr {
  COLOR: 666666;
  FONT-STYLE: italic
}

.forminput {
  COLOR: black;
  FONT-SIZE: 11px;
  VERTICAL-ALIGN: middle;
  FONT-FAMILY: verdana, helvetica, sans-serif
}

.button {
  BORDER-TOP: #666666 2px soft;
  BORDER-BOTTOM: #383838 2px solid;
  BORDER-LEFT: #444444 2px solid;
  BORDER-RIGHT: #383838 2px solid;
  BACKGROUND-COLOR: black;
  COLOR: #BB7700;
  CURSOR: hand;
  FONT-SIZE: 11px;
  VERTICAL-ALIGN: middle;
  FONT-FAMILY: verdana, helvetica, sans-serif
}

.darkrow2 {
  MARGIN: 0px 0px;
  PADDING: 4px 4px 4px 4px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #282828 1px solid;
  BORDER-BOTTOM: #282828 1px solid;
  COLOR: #999999;
  BACKGROUND-COLOR: #303030
}

.rules-border {
  MARGIN: 8px 0px;
  PADDING-LEFT: 4px;
  PADDING-TOP: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  FONT-SIZE: 11px;
  FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
  COLOR: #666666;
  BACKGROUND-COLOR: #222222;
  BORDER-TOP: #bb6600 1px solid;
  BORDER-BOTTOM: #bb6600 1px solid;
  BORDER-LEFT: #bb6600 1px solid;
  BORDER-RIGHT: #bb6600 1px solid;
}

.post1, .row1 {
  COLOR: #000;
  BACKGROUND-COLOR: #999999
}

.post2 {
  COLOR: #000;
  BACKGROUND-COLOR: #AAAAAA
}

.post2 a,
.post2 a:link,
.post2 a:hover,
.post2 a:visited,
.post2 a:active {
  color: black;
}

.b-posts-separator,
.darkrow1 {
  COLOR: #4c77b6;
  BACKGROUND-COLOR: #222222
}

.postdetails {
  FONT-SIZE: 10px;
}

.b-post__author-info a {
  color: #000;
}

.postdetails a:hover {
  color: #ffdd00
}

.postcolor a {
  color: black;
}

.postcolor a:hover {
  color: white;
  /*color: #D4FF5E;*/
}

h3,
.pformstrip {
  padding-right: 7px;
  padding-left: 7px;
  margin-top: 1px;
  font-weight: bold;
  padding-bottom: 7px;
  color: #dddddd;
  padding-top: 7px;
  background-color: #383838
}

.pformright {
  padding-right: 6px;
  border-top: #222222 1px solid;
  margin-top: 1px;
  padding-left: 6px;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: #aaaaaa;
  color: black;
}

.pformleft a:link, .pformright a:link,
.pformleft a:active, .pformright a:active,
.pformleft a:hover, .pformright a:hover,
.pformleft a:visited, .pformright a:visited {
  color: black;
}

.pformleft {
  border-right: none;
  padding-right: 6px;
  border-top: #383838 1px solid;
  margin-top: 1px;
  padding-left: 6px;
  padding-bottom: 6px;
  width: 15%;
  padding-top: 6px;
  background-color: #aaaaaa;
  color: black;
}

.pformleftw {
  border-right: #383838 1px solid;
  padding-right: 6px;
  border-top: #383838 1px solid;
  margin-top: 1px;
  padding-left: 6px;
  padding-bottom: 6px;
  width: 40%;
  padding-top: 6px;
  background-color: #aaaaaa;
  color: black;
}

.tablefill {
  border-right: #222222 1px solid;
  padding-right: 6px;
  border-top: #222222 1px solid;
  padding-left: 6px;
  padding-bottom: 6px;
  border-left: #222222 1px solid;
  padding-top: 6px;
  border-bottom: #222222 1px solid;
  background-color: #aaaaaa;
  color: black;
}

.pformleftw a,
.tablefill a {
  color: black;
}

.desc {
  FONT-SIZE: 10px;
  COLOR: #777
}

.desc A:link, .b-topics-list-row .b-topics-list-column-last_post a:link {
  TEXT-DECORATION: underline
}

.b-topics-list-row .b-topics-list-column-last_post a:active, .desc A:active {
  COLOR: #777;
}

.b-topics-list-row .b-topics-list-column-last_post a:hover, .desc A:hover {
  COLOR: #fff;
}

.activeuserstrip {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  PADDING-BOTTOM: 6px;
  PADDING-TOP: 6px;
  BACKGROUND-COLOR: #333333;
  color: #CCCCCC
}

.activeuserstrip a {
  color: #CCCCCC
}

.activeuserstrip a:hover {
  color: #FFbb00
}

.pinned_topic, .topic-pinned .row1, .topic-pinned .row2, .topic-pinned .row3, .topic-pinned .row4 {
  BACKGROUND-COLOR: #777777;
  COLOR: #333333;
}

.b-post[data-flag-pinned="1"] {
  BACKGROUND-COLOR: #777777;
  .b-post__body {
    color: #000000;
  }
}


.pinned_topic .desc, .pinned_topic .desc a:link, .topic-pinned .desc, .topic-pinned .desc a:link {
  color: #222;
}

.usercp-menu-wrapper {
  border-right: #444444 1px solid;
  border-top: #444444 1px solid;
  border-left: #444444 1px solid;
  width: 22%;
  line-height: 150%;
  border-bottom: #444444 1px solid;
  background-color: #585858;
  vertical-align: top;
}

.usercp-content {
  border-right: #444444 1px solid;
  border-top: #444444 1px solid;
  border-left: #444444 1px solid;
  width: auto;
  line-height: 150%;
  border-bottom: #444444 1px solid;
  background-color: #aaaaaa;
  color: black;
  vertical-align: top;
}

.usercp-content a,
.usercp-content a:link,
.usercp-content a:visited,
.usercp-content a:active {
  color: black;
}

.usercp-content a:hover {
  color: #ffbb00;
}

.tablepad {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  PADDING-BOTTOM: 6px;
  PADDING-TOP: 6px;
  BACKGROUND-COLOR: #383838;
  color: #cccccc;
}

.tag-mm-header,
.mstop {
  background: #666666;
  border: 1px dotted #333333;
  border-bottom: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  margin: 8px auto 0 auto;
  padding: 3px
}

.tag-mm-body,
.msmain {
  background: #999999;
  border: 1px dotted #333333;
  border-top: 0;
  color: #000000;
  padding: 4px;
  margin: 0 auto 8px auto
}

.tag-gm-header {
  background: #400000;
  border: 1px dotted #333333;
  border-bottom: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  margin: 8px auto 0 auto;
  padding: 3px
}

.tag-gm-body {
  background: #999999;
  border: 1px dotted #333333;
  border-top: 0;
  color: #000000;
  padding: 4px;
  margin: 0 auto 8px auto
}

/*
.plainborder {
	BORDER-RIGHT: #345487 1px solid;
	BORDER-TOP: #345487 1px solid;
	BORDER-LEFT: #345487 1px solid;
	BORDER-BOTTOM: #345487 1px solid;
	BACKGROUND-COLOR: #f5f9fd
}
*/
.plainborder {
  border: #444 1px solid;
  BACKGROUND-COLOR: #222
}

/*.quote {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; COLOR: #465584; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Verdana, Arial; WHITE-SPACE: normal; BACKGROUND-COLOR: #999999
}
*/

.quote {
  BORDER: #666 1px solid;
  PADDING: 2px;
  FONT-SIZE: 11px;
  COLOR: #383838;
  FONT-FAMILY: Verdana, Arial;
  WHITE-SPACE: normal;
  BACKGROUND-COLOR: #8e8e8e;
  overflow: auto;
}

.code {
  BORDER: #000 1px solid;
  PADDING: 2px;
  FONT-SIZE: 11px;
  COLOR: #465584;
  BACKGROUND-COLOR: #999999;
  line-height: 120%;
}

IMG.attach {
  PADDING-LEFT: 2px;
  PADDING-TOP: 2px;
  PADDING-RIGHT: 2px;
  PADDING-BOTTOM: 2px;
  BORDER-LEFT: #eef2f7 2px outset;
  BORDER-TOP: #eef2f7 2px outset;
  BORDER-RIGHT: #eef2f7 2px outset;
  BORDER-BOTTOM: #eef2f7 2px outset
}

OPTION.cat {
  FONT-WEIGHT: bold
}

OPTION.sub {
  FONT-WEIGHT: bold;
  COLOR: #555
}

FIELDSET.search {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  PADDING-BOTTOM: 6px;
  LINE-HEIGHT: 150%;
  PADDING-TOP: 6px
}

LABEL {
  CURSOR: pointer
}

.googleroot {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  PADDING-BOTTOM: 6px;
  LINE-HEIGHT: 130%;
  PADDING-TOP: 6px
}

.googlechild {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  PADDING-BOTTOM: 6px;
  MARGIN-LEFT: 30px;
  LINE-HEIGHT: 130%;
  PADDING-TOP: 6px
}

.googlebottom {
  FONT-SIZE: 11px;
  COLOR: #3a4f6c
}

.googlebottom A:link {
  FONT-SIZE: 11px;
  COLOR: #3a4f6c
}

.googlebottom A:visited {
  FONT-SIZE: 11px;
  COLOR: #3a4f6c
}

.googlebottom A:active {
  FONT-SIZE: 11px;
  COLOR: #3a4f6c
}

.googlish {
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  COLOR: #00d
}

.googlish A:link {
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  COLOR: #00d
}

.googlish A:visited {
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  COLOR: #00d
}

.googlish A:active {
  FONT-WEIGHT: bold;
  FONT-SIZE: 14px;
  COLOR: #00d
}

.googlepagelinks {
  FONT-SIZE: 1.1em;
  LETTER-SPACING: 1px
}

.googlesmall {
  FONT-SIZE: 10px;
  COLOR: #434951
}

.googlesmall A:link {
  FONT-SIZE: 10px;
  COLOR: #434951
}

.googlesmall A:active {
  FONT-SIZE: 10px;
  COLOR: #434951
}

.googlesmall A:visited {
  FONT-SIZE: 10px;
  COLOR: #434951
}

.caldate {
  PADDING-RIGHT: 4px;
  PADDING-LEFT: 4px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 11px;
  PADDING-BOTTOM: 4px;
  MARGIN: 0px;
  COLOR: #777;
  PADDING-TOP: 4px;
  BACKGROUND-COLOR: #dfe6ef;
  TEXT-ALIGN: right
}

.warngood {
  COLOR: green
}

.warnbad {
  COLOR: #FF4500;
}

#padandcenter {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 14px;
  MARGIN-LEFT: auto;
  MARGIN-RIGHT: auto;
  PADDING-TOP: 14px;
  TEXT-ALIGN: center
}

#profilename {
  FONT-WEIGHT: bold;
  FONT-SIZE: 28px
}

#calendarname {
  FONT-WEIGHT: bold;
  FONT-SIZE: 22px
}

#photowrap {
  PADDING-RIGHT: 6px;
  PADDING-LEFT: 6px;
  PADDING-BOTTOM: 6px;
  PADDING-TOP: 6px
}

#phototitle {
  FONT-SIZE: 24px;
  BORDER-BOTTOM: black 1px solid
}

#photoimg {
  MARGIN-TOP: 15px;
  TEXT-ALIGN: center
}

.usercp-menu-wrapper P {
  padding-right: 5px;
  padding-left: 9px;
  padding-bottom: 6px;
  margin: 0px;
  padding-top: 2px
}

.usercp-content P {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
  padding-top: 10px
}

#ipsbanner {
  RIGHT: 5%;
  POSITION: absolute;
  TOP: 1px
}

.b-signature {
  FONT-SIZE: 10px;
  COLOR: #339;
  LINE-HEIGHT: 150%
}

.postcolor {
  FONT-SIZE: 12px;
  LINE-HEIGHT: 160%
}

.normalname {
  FONT-WEIGHT: bold;
  FONT-SIZE: 12px;
  COLOR: #003
}

.normalname A:link {
  FONT-SIZE: 12px
}

.normalname A:visited {
  FONT-SIZE: 12px
}

.normalname A:active {
  FONT-SIZE: 12px
}

.unreg {
  FONT-WEIGHT: bold;
  FONT-SIZE: 11px;
  color: orangered;
}

.topic-links {
  PADDING-RIGHT: 7px;
  MARGIN-TOP: 1px;
  PADDING-LEFT: 7px;
  FONT-SIZE: 10px;
  BACKGROUND-IMAGE: url($images_path + '/tile_sub.gif');
  PADDING-BOTTOM: 7px;
  PADDING-TOP: 7px;
  BACKGROUND-COLOR: #d1dceb;
  text-align: right;
  font-weight: bold;
}

.darkrow3 {
  MARGIN: 0px 0px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #282828 1px solid;
  BORDER-BOTTOM: #282828 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #383838
}

.hlight {
  BACKGROUND-COLOR: #dfe6ef
}

.dlight {
  BACKGROUND-COLOR: #eef2f7
}

.tablebasic {
  BORDER-RIGHT: 0px;
  PADDING-RIGHT: 0px;
  BORDER-TOP: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  BORDER-LEFT: 0px;
  WIDTH: 100%;
  PADDING-TOP: 0px;
  BORDER-BOTTOM: 0px
}

.wrapmini {
  FLOAT: left;
  WIDTH: 25%;
  LINE-HEIGHT: 1.5em
}

.pagelinks {
  FLOAT: left;
  WIDTH: 35%;
  LINE-HEIGHT: 1.2em
}

.edit {
  FONT-SIZE: 9px;
  COLOR: #666666

}

.searchlite {
  FONT-WEIGHT: bold;
  COLOR: #f00;
  BACKGROUND-COLOR: #ff0
}

.codebuttons {
  FONT-SIZE: 10px;
  VERTICAL-ALIGN: middle;
  FONT-FAMILY: verdana, helvetica, sans-serif
}

.radiobutton {
  FONT-SIZE: 11px;
  VERTICAL-ALIGN: middle;
  FONT-FAMILY: verdana, helvetica, sans-serif
}

.checkbox {
  FONT-SIZE: 11px;
  VERTICAL-ALIGN: middle;
  FONT-FAMILY: verdana, helvetica, sans-serif
}

.textinput {
  FONT-SIZE: 12px;
  VERTICAL-ALIGN: middle;
  FONT-FAMILY: courier new, serif
}

.thin {
  PADDING-TOP: 6px;
  PADDING-LEFT: 0px;
  PADDING-RIGHT: 0px;
  PADDING-BOTTOM: 6px;
  MARGIN: 2px 0px;
  LINE-HEIGHT: 140%;
  COLOR: #555555;
  BORDER-TOP: #333333 1px solid;
  BORDER-BOTTOM: #333333 1px solid
}

.purple {
  FONT-WEIGHT: bold;
  COLOR: purple
}

.red {
  FONT-WEIGHT: bold;
  COLOR: #ff4500;
}

.green {
  FONT-WEIGHT: bold;
  COLOR: green
}

.blue {
  FONT-WEIGHT: bold;
  COLOR: blue
}

.orange {
  FONT-WEIGHT: bold;
  COLOR: #f90
}

.hintshead {
  BORDER-RIGHT: #97a2b0 1px solid;
  BORDER-TOP: #97a2b0 1px solid;
  FONT-SIZE: 10px;
  BORDER-LEFT: #97a2b0 1px solid;
  BORDER-BOTTOM: #97a2b0 1px solid;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  BACKGROUND-COLOR: #d1dceb
}

.hintstext {
  FONT-SIZE: 10px;
  COLOR: #000;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  BACKGROUND-COLOR: #f5f9fd
}

.quotetop {
  BORDER-RIGHT: #000 1px dotted;
  PADDING-RIGHT: 3px;
  BORDER-TOP: #000 1px dotted;
  PADDING-LEFT: 3px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  BACKGROUND: url($images_path + '/css_img_quote.gif') #e4eaf2 no-repeat right 50%;
  PADDING-BOTTOM: 3px;
  MARGIN: 8px auto 0px;
  BORDER-LEFT: #8394b2 4px solid;
  COLOR: #000;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: 0px
}

.quotemain {
  BORDER-RIGHT: #000 1px dotted;
  PADDING-RIGHT: 4px;
  BORDER-TOP: 0px;
  PADDING-LEFT: 4px;
  BACKGROUND: #fafcfe;
  PADDING-BOTTOM: 4px;
  MARGIN: 0px auto 8px;
  BORDER-LEFT: #8394b2 4px solid;
  COLOR: #465584;
  PADDING-TOP: 4px;
  BORDER-BOTTOM: #000 1px dotted
}

.group-project_coordinators,
.voteprefix {
  COLOR: #20b2aa;
}

.delete_info__warning, .b-new-warning-notice, .movedprefix {
  COLOR: goldenrod;
}

.mirrorprefix {
  color: green;
}

.mirrorhint {
  color: gray;
}

.clubprefix {
  COLOR: #6495ed;
}

.pinnedprefix {

}

.spoiler {
  border: 1px solid black;
  margin-top: 5px
}

.spoiler_header {
  padding: 2px 0 2px 16px;
  font-size: 80%;
}

.spoiler .body {
  border-top: 1px solid black;
  padding: 0px 2px;
}

.open .spoiler_header {
  background: url($images_path + '/minus.png') 4px center no-repeat;
}

.closed .spoiler_header {
  background: url($images_path + '/plus.png') 4px center no-repeat;
}

span.attach_preview {
  display: inline-block;
  clear: none;
  vertical-align: baseline;
  text-align: center;
}

span.attach_preview p {
  display: inline;
  font-weight: bold;
  font-size: 9px;
}

span.attach_preview img {
  border: 1px solid black;
  border-spacing: 0px;
  padding: 0 0 0 0;
  display: inline;
}

span.attach_preview p img {
  border: 0px;
}

.donate td.donate_text {
  color: #cccccc;
}

div.rules-wrapper {
  MARGIN-LEFT: auto;
  WIDTH: 95%;
  MARGIN-RIGHT: auto;
  TEXT-ALIGN: left
}

.topic-favorite .b-topics-list-column-title {
  MARGIN: 0px 0px;
  PADDING: 4px 4px 4px 4px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #282828 1px solid;
  BORDER-BOTTOM: #282828 1px solid;
  COLOR: #999999;
  BACKGROUND-COLOR: #303030;
}

.topics .selected td {
  MARGIN: 0px 0px;
  PADDING: 4px 4px 4px 4px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #282828 1px solid;
  BORDER-BOTTOM: #282828 1px solid;
  COLOR: #999999 !important;
  BACKGROUND-COLOR: #303030 !important;
}

.topic-hidden .b-topics-list-column-title {
  MARGIN: 0px 0px;
  BORDER-LEFT: #555555 1px solid;
  BORDER-TOP: #555555 1px solid;
  BORDER-RIGHT: #282828 1px solid;
  BORDER-BOTTOM: #282828 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #383838
}

.b-author-online-text {
  margin-left: 3px;
  color: green;
}

.b-author-online-text:before {
  content: '(';
  COLOR: #999999;
}

.b-author-online-text:after {
  content: ')';
  COLOR: #999999;
}

.b-post__actions {
  MARGIN: 0px 0px;
  BORDER-LEFT: #505050 1px solid;
  BORDER-TOP: #505050 1px solid;
  BORDER-RIGHT: #383838 1px solid;
  BORDER-BOTTOM: #383838 1px solid;
  PADDING-LEFT: 4px;
  PADDING-RIGHT: 4px;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  COLOR: #999999;
  BACKGROUND-COLOR: #484848
}

.b-topics-list-row .b-topics-list-column-last_post {
  FONT-SIZE: 10px;
}

td.b-menu-item {
  padding-top: 2px;
  padding-bottom: 0;
}

.b-menu-item img {
  padding-bottom: 2px;
}

.b-topics-list-row {
  .b-queued_topic-approve-button a:link,
  .b-queued_topic-reject-button a:link,
  .b-queued_topic-approve-button a:hover,
  .b-queued_topic-reject-button a:hover,
  .b-queued_topic-approve-button a:visited,
  .b-queued_topic-reject-button a:visited {
    color: goldenrod;
    font-weight: normal;
  }
}

.b-queued-topic-actions__title {
  color: goldenrod;
  /*font-weight: bold;*/
}
.b-topics-list-row .desc {
  .b-posts-need-approve-button a:active,
  .b-posts-need-approve-button a:link,
  .b-posts-need-approve-button a:hover,
  .b-posts-need-approve-button a:visited {
    font-weight: bold;
    color: gold;
  }
}

ul.b-breadcrumbs-top li {
  list-style: none;
  background-image: url($images_path + '/nav_sub.gif');
  background-repeat: no-repeat;
}

ul.b-breadcrumbs-top li:first-child {
  list-style: none;
  background-image: url($images_path + '/nav.gif');
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 6px;
}

.b-breadcrumbs-bottom li:first-child {
  background-image: url($images_path + '/nav.gif');
  background-repeat: no-repeat;
  background-position: left;
  padding: 3px 0 4px 20px;
}

.friends-online {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.online-stats-record,
.members-groups-list,
.friends-title {
  color: #999999;
}

#GlobalMessage {
  background-size: contain;
  padding-bottom: 15px;
  padding-top: 15px;
  MARGIN: 0px 0px;
  FONT-SIZE: 10px;
  FONT-WEIGHT: bold;
  COLOR: #cccccc;
  text-align: center;
  vertical-align: middle;
  border-width: 1px;
  border-color: #666666;
  border-style: solid;
  background: linear-gradient(to bottom, #222222, #333333, #222222);
  background-color: #222222;
}

.rules-text .spoiler,
.rules-text .spoiler .body {
  border-color: #999999;
}

.topic-pinned a.topic-link:link,
.topic-pinned a.topic-link:visited {
  color: #eeeeee; /* darkorange */
}

.news-link .voteprefix {
  color: seagreen;
}

.b-post__body {
  img.tag-img {
    max-width: 100%;
  }
  .b-embedded-image {
    max-width: 100%;
  }
}

.b-folder-clear__folders-list,
.b-pm-list {
  border-spacing: 0;
}

//.b-tracking-list_read th,
//.b-tracking-list_unread th,
.b-pm-list th {
  /* 6px if there is no cb */
  padding: 4px;
  background-color: transparent;
  border-right: 1px solid lightgray;
}

.b-tracking-list_unread tbody td,
.b-tracking-list_read tbody td,
.b-folder-clear__row td,
.b-pm-list tbody td {
  background-color: transparent;
  border-bottom: 1px solid white;
  border-right: 1px solid lightgray;
  border-top: #555555 1px solid;
  color: black;
}

.b-tracking-list_read a:link,
.b-tracking-list_read a:active,
.b-tracking-list_read a:hover,
.b-tracking-list_read a:visited,
.b-tracking-list_unread a:link,
.b-tracking-list_unread a:active,
.b-tracking-list_unread a:hover,
.b-tracking-list_unread a:visited,
.b-pm-list a:link,
.b-pm-list a:active,
.b-pm-list a:hover,
.b-pm-list a:visited {
  color: black;
}

.b-tracking-list_read tbody tr:hover,
.b-tracking-list_unread tbody tr:hover,
.b-pm-list tbody tr:hover {
  background-color: slategray;
}


.titlemedium {
  MARGIN: 1px 0px;
  BORDER-LEFT: #444444 1px solid;
  BORDER-RIGHT: #0c0c0c 1px solid;
  FONT-WEIGHT: bold;
  BACKGROUND-IMAGE: url($images_path + '/tile_sub.gif');
  color: #bb7700;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-top: 7px;
  a:link, a:visited, a:active {
    color: #bb7700;
    text-decoration: none
  }
  a:hover {
    color: #d4ff5e;
    text-decoration: none
  }
}

.b-header-row {
  @extend .titlemedium;
  //because of possible checkboxes in a row
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0;
  padding-bottom: 0;
  height: 28px;
  th {
    /* I don't know why, but th doesn't inherit properties from tr by default */
    padding-left: inherit;
    padding-right: inherit;
  }
}

.b-tracking-list_read tfoot tr {
  @extend .b-header-row;
}

.b-tracking-list_unread tfoot tr {
  @extend .b-header-row;
}


.b-pm-list tfoot tr {
  @extend .b-header-row;
  td {
    color: inherit;
  }
}

tfoot td input[type="submit"] {
  background-color: transparent;
  border: 1px solid gray;
  color: #bb7700;
  padding-top: 0;
  font-weight: bold;
}

.b-tracking-list_read tbody tr.selected,
.b-tracking-list_unread tbody tr.selected,
.b-pm-list tbody tr.selected {
  BACKGROUND-COLOR: gray;
}

.b-tracking-list_read tbody tr.selected:hover td,
.b-tracking-list_read tbody tr.selected:hover td a:link,
.b-tracking-list_read tbody tr.selected:hover td a:active,
.b-tracking-list_read tbody tr.selected:hover td a:visited,
.b-tracking-list_read tbody tr.selected:hover td a:hover,
.b-tracking-list_unread tbody tr.selected:hover td,
.b-tracking-list_unread tbody tr.selected:hover td a:link,
.b-tracking-list_unread tbody tr.selected:hover td a:active,
.b-tracking-list_unread tbody tr.selected:hover td a:visited,
.b-tracking-list_unread tbody tr.selected:hover td a:hover,
.b-pm-list tbody tr.selected:hover td,
.b-pm-list tbody tr.selected:hover td a:link,
.b-pm-list tbody tr.selected:hover td a:active,
.b-pm-list tbody tr.selected:hover td a:visited,
.b-pm-list tbody tr.selected:hover td a:hover {
  background-color: gray;
  color: lightgray;
}

.b-folder-clear__folders-list th {
  padding: 6px;
  background-color: transparent;
  border-right: 1px solid lightgray;
}

/* color fixes */
.tag-color-named[data-value="red"] {
  color: gold !important;
}

.tag-code .tag-color-named[data-value="red"] {
  color: red !important;
}

.tag-color-named[data-value="gray"] {
  color: #e0e0e0 !important;
}

.tag-code .tag-color-named[data-value="gray"] {
  color: gray !important;
}

/* color "mergepost" doesn't exists so we define it */
.tag-color-named[data-value="mergepost"] {
  color: #e0e0e0;
}

.post-edited-message {
  color: lightgray;
}

.group-admins {
  color: goldenrod;
}

.group-moderators {
  color: #00bfff;
}

.group-club_members {
  color: #87ceeb;
}

.group-veterans {
  color: #dda0dd;
}

.group-search_bots {
  color: lightgray;
}

.tag-quote {
  font-family: verdana, tahoma, arial, sans-serif;
}

.usercp-menu-item__new_message a,
.usercp-menu-item__inbox a,
.usercp-menu-item__sent a,
.usercp-menu-item__cancel_delete_account a {
  font-weight: bold;
}

.delete_info__description {
  color: lightgray;
}

.usercp-menu-item__inbox-subfolders {
  list-style: none;
  margin-left: 2em;
}

.usercp-menu-item__inbox-subfolders li:before {
  content: "\00b7";
  padding-right: 1em;
}

.b-welcome-message__wrapper {
  color: #cccccc;
}

.usercp-menu,
.usercp-menu a,
.usercp-menu a:link,
.usercp-menu a:visited,
.usercp-menu a:active,
.news-wrapper,
.poll-wrapper {
  color: #cccccc;
}

.pager {
  color: #999999;
}

.b-user-action-buttons a {
  font-size: 10px;
}
.b-post {
  &[data-flag-queued="1"] {
    .b-post__author-info {
      background-color: #997070;
      color: black;
    }
    .b-post__body {
      background-color: #997070;
    }
  }
}

.b-error-description {
  @extend .postcolor;
  padding-left: 10px;
  padding-bottom: 10px;
}

.b-error-message {
  @extend .tablefill;
  h4 {
    margin-bottom: 0.5em;
  }
  .b-links {
    margin: 0;
    padding-left: 2em;
  }
}

.b-post__author-name {
  @extend .row4;
}

.b-post__header {
  @extend .row4;
}

.b-post__info {
  @extend .row4;
}

.warning-message {
  background-color: #202020;
}
