@import "/html/jqcd/skins/light-blue/skin.css";

form { display: inline }
.mstop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #e4eaf2; PADDING-BOTTOM: 3px; MARGIN: 8px auto 0px; BORDER-LEFT: #8394b2 4px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.msmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #8394b2 4px solid; COLOR: #465584; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}
.gmstop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #faa298; PADDING-BOTTOM: 3px; MARGIN: 8px auto 0px; BORDER-LEFT: #8394b2 4px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.gmsmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #8394b2 4px solid; COLOR: #465584; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}

.snowstrip { background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/snowstrip.gif); padding: 4px }
.avatar { text-align: left; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/avastrip.gif); padding-left: 1px; padding-right: 1px }
.wrapfoot { height: 20px; text-decoration: none; color: #333333; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/wrapfoot.gif); padding: 8px }
.msg { background-position: center; background-repeat: no-repeat; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/mem_mess.gif) }
.shadowL { background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/left_shadow.gif); width: 7px; background-repeat: repeat-y }
.shadowR { background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/right_shadow.gif); width: 3px; background-repeat: repeat-y }
BODY { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; margin: 0px 0px 0px 0px; color: #000; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/main_bg.gif) }
HR { color: #E0E0FF }
.downloads { background-color: #e6e6e6 }
TABLE, TR, TD { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #333333 }
a:link, a:visited, a:active { text-decoration: underline; color: #333333 }
a:hover { text-decoration: none; color: #4969AA }

TABLE.post_table {
  background-color: #345487;
  vertical-align:top;
}
TABLE.post_table TD{
  background-color: #CCC;
  padding: 3px 3px 3px 3px;
}
TABLE.post_table TH{
  background-color: #9FBCE3;
  padding: 3px 3px 3px 3px;
}


.buttons { vertical-align: middle; font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333 }
.buttons a:link { vertical-align: middle; font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333 }
.profphoto { height: 100px; width: 100px; vertical-align: middle; background-position: center; background-repeat: no-repeat; background-color: #ffffff; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/nophoto.gif) }
.buttons a:visited { vertical-align: middle; font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333 }
.buttons a:active { vertical-align: middle; font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333 }
.buttons a:hover { vertical-align: middle; font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333 }
.membar { text-decoration: none; color: #666666; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/membar.gif) }
.membar a:link { text-decoration: none; color: #333333 }
.membar a:visited { text-decoration: none; color: #333333 }
.membar a:hover { text-decoration: none; color: #0482FE }
.membar a:active { text-decoration: none; color: #333333 }
fieldset.search { padding: 6px; line-height: 150% }
label { cursor: pointer }
img.attach { padding: 2px; border: 2px outset #EEF2F7 }
li.helprow { padding: 0px; margin: 0px 0px 10px 0px }
ul#help { padding: 0px 0px 0px 15px }
option.cat { font-weight: bold }
option.sub { font-weight: bold; color: #555 }
.caldate { text-align: right; font-weight: bold; font-size: 11px; padding: 4px; margin: 0px; color: #777; background-color: #eeeeee }
#padandcenter { margin-left: auto; margin-right: auto; text-align: center; padding: 14px 0px 14px 0px }
#profilename { font-size: 28px; font-weight: bold }
#calendarname { font-size: 22px; font-weight: bold }
#photowrap { padding: 6px }
#phototitle { font-size: 24px; border-bottom: 1px solid black }
#photoimg { text-align: center; margin-top: 15px }
#ucpmenu { line-height: 150%; width: 22%; background-color: #ffffff; border: 1px solid #cccccc }
#ucpmenu p { padding: 2px 5px 6px 9px; margin: 0px }
#ucpcontent { line-height: 150%; width: auto; background-color: #FFF }
.modsub { padding: 4px 4px 4px 4px; border-left-width: 0px; border-bottom-width: 1px; border-right-width: 0px; border-top-width: 0px; border-left-color: #cccccc; border-bottom-color: #d6d6d6; border-right-color: #e9e9e9; border-top-color: #e9e9e9; border-style: dashed; background-color: #f6f6f6 }
#ucpcontent p { padding: 10px; margin: 0px }
#ipsbanner { position: absolute; top: 1px; right: 5% }
#logostrip { color: white; background-color: #3366a8; padding: 0px; margin: 0px; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/logostrip.gif); vertical-align: top }
.logo { color: #FFFFFF }
.logo a:link, .logo a:visited, .logo a:active { text-decoration: none; color: #85AFFF }
.logo a:hover { text-decoration: none; color: #FFFFFF }
#top-menu { font-size: 10px; margin: 3px 0px 3px 0px; font-weight: bold; color: #3A4F6C; background-color: #DFE6EF; border: 1px solid #BCD0ED }
#top-menu a:link, #top-menu  a:visited, #top-menu a:active { font-weight: bold; font-size: 10px; text-decoration: none; color: #3A4F6C }
#userlinks { background-color: #f6f6f6; border: 1px solid #C2CFDF }
.b-navigation-wrapper { font-weight: bold; padding: 6px 0px 6px 0px }
.activeuserstrip { padding: 4px; background-color: #BCD0ED }
.pformstrip { font-variant: small-caps; font-weight: bold; padding: 2px; margin-top: 1px; color: #f9f9f9; background-color: #f9f9f9; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/tile_sub.gif) }
.pformstrip a:link, .pformstrip a: active, .pformstrip a:visited { color: #f9f9f9 }
.pformleft { padding: 4px 4px 4px 4px; border-left-width: 0px; border-bottom-width: 1px; border-right-width: 1px; border-top-width: 0px; border-left-color: #c0c0c8; border-bottom-color: #c0c0c8; border-right-color: #c0c0c8; border-top-color: #e9e9e9; border-style: dashed; background-color: #fbfbfb; width: 10% }
.pformleftw { padding: 6px; margin-top: 1px; width: 40%; border-top: 1px solid #C2CFDF; border-right: 1px solid #C2CFDF; background-color: #F5F9FD }
.pformright { padding: 4px; border-left-width: 0px; border-bottom-width: 1px; border-right-width: 0px; border-top-width: 0px; border-left-color: #e9e9e9; border-bottom-color: #e6e6e6; border-right-color: #e9e9e9; border-top-color: #e9e9e9; border-style: dashed; background-color: #fbfbfb }
.post1 { background-color: #ffffff }
.post2 { background-color: #f9fbff }
.topic-links { color: #f9f9f9; padding: 2px; margin-top: 1px; font-size: 10px; background-color: #6688CC; text-align: right; font-weight: bold; }
.nbsdesignz { padding: 1px 1px 1px 1px; border-left-width: 0px; border-bottom-width: 5px; border-right-width: 0px; border-top-width: 5px; border-left-color: #e9e9e9; border-bottom-color: #e6e6e6; border-right-color: #e9e9e9; border-top-color: #f9f9f9; border-style: solid; background-color: #f0f0f0 }
.nbsdesignz1 { font-size: 9px; color: #f9f9f9; padding: 1px; background-color: #4969AA; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/tile_sub.gif) }
.row1 { padding: 4px 4px 4px 4px; background-color: #ffffff }
.row2 { padding: 4px 4px 4px 4px; background-color: #ffffff }
.row3 { padding: 4px 4px 4px 4px; background-color: #ffffff }
.row4 { padding: 4px 4px 4px 4px; background-color: #ffffff }
.subs { padding: 4px 4px 4px 4px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-width: 1px; border-left-color: #e9e9e9; border-bottom-color: #e6e6e6; border-right-color: #e9e9e9; border-top-color: #e9e9e9; border-style: dashed; background-color: #fbfbfb }
.pinned { padding: 4px 4px 4px 4px; background-color: #ffffff }
.pinned_topic, .topic-pinned .row1, .topic-pinned .row2, .topic-pinned .row3, .topic-pinned .row4 { background-color: #f9f9f9 }
.darkrow1 { color: #333333; background-color: #f9f9f9 }
.darkrow2 { color: #333; background-color: #BCF }
.darkrow3 { color: #333333; background-color: #f9f9f9 }
.hlight { background-color: #eaeaea }
.dlight { background-color: #ffffff }
.titlemedium { font-size: 10px; font-weight: bold; padding: 2px; margin: 0px; color: #f9f9f9; background-color: #6688CC }
.titlemedium  a:link, .titlemedium  a:visited, .titlemedium  a:active { text-decoration: underline; color: #f9f9f9 }
.maintitle { color: #FFFFFF; background-color: #3366CC; vertical-align: middle; font-weight: bold; letter-spacing: 1px; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/tile_sub.gif); font-size: 12px; padding-top: 8px; padding-bottom: 8px; padding-left: 6px }
.maintitle a, .maintitle a:link, .maintitle a:visited, .maintitle a:active { text-decoration: none; color: #FFFFFF }
.maintitle a:hover { text-decoration: underline }
.plainborder { background-color: #ffffff; border: 1px solid #e6e6e6 }
.footer, .footer a:link, .footer a:visited, .footer a:active { height: 14; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/mainfoot.gif); background-repeat: repeat-x; color: #ffffff; font-size: 9px; vertical-align: top }
.tableborder { background-color: #e8e8ff; border: 1px solid #cccccc }
.tablefill { padding: 6px; background-color: #Ffffff }
.tablepad { padding: 6px; background-color: #Ffffff }
.tablebasic { width: 100%; padding: 0px 0px 0px 0px; margin: 0px; border: 0px }
.wrapmini { float: left; line-height: 1.5em; width: 25% }
.pagelinks { float: left; line-height: 1.2em; width: 35% }
.desc, .desc a:link, .desc a:active, .desc a:visited, .desc a:hover { font-size: 10px; color: #4969AA }
.edit { font-size: 9px }
.signature { font-size: 10px; padding: 6px 6px 6px 6px; color: #666666 }
.postdetails { font-size: 10px }
.postcolor { font-size: 12px; line-height: 160% }
.normalname { font-size: 12px; font-weight: bold; color: #333333 }
.normalname a:link, .normalname a:visited, .normalname a:active { font-size: 12px }
.unreg { font-size: 11px; font-weight: bold; color: #990000 }
.searchlite { font-weight: bold; color: #F00; background-color: #FF0 }
.quote { font-family: Verdana, Arial; font-size: 11px; padding: 4px; color: #333333; background-color: #f0f0f0; border: 1px solid #4969AA }
.code { font-size: 11px; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; color: #333333; background-color: #f0f0f0; border: 1px solid #4969AA;	overflow: auto;         line-height: 120%;}
.copyright, .copyright a:link { font-family: Verdana, Tahoma, Arial, Sans-Serif; font-size: 9px; color: #000000 }
.codebuttons { font-size: 10px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }
.forminput, .radiobutton, .checkbox { font-size: 11px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }
.textinput { font-size: 11px; font-family: courier new, serif; vertical-align: middle; background-position: center; background-repeat: no-repeat; background-color: #ffffff; background-image: url(http://forum.sources.ru/style_images/NBS-Snow-262/replybg.gif) }
.dropdown { font-size: 10px; font-variant: small-caps }
.thin { padding: 6px 0px 6px 0px; line-height: 140%; margin: 2px 0px 2px 0px; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF }
.purple { font-weight: bold; color: purple }
.red { font-weight: bold; color: red }
.green { font-weight: bold; color: green }
.blue { font-weight: bold; color: blue }
.orange { font-weight: bold; color: #F90 }
.googleroot { padding: 6px; line-height: 130% }
.googlechild { padding: 6px; margin-left: 30px; line-height: 130% }
.googlebottom, .googlebottom a:link, .googlebottom a:visited, .googlebottom a:active { font-size: 11px; color: #3A4F6C }
.googlish, .googlish a:link, .googlish a:visited, .googlish a:active { font-size: 14px; font-weight: bold; color: #00D }
.googlepagelinks { font-size: 1.1em; letter-spacing: 1px }
.googlesmall, .googlesmall a:link, .googlesmall a:active, .googlesmall a:visited { font-size: 10px; color: #666666 }
.voteprefix {color:green}
.movedprefix {color:red}
.mirrorprefix {
	color:green;
}
.mirrorhint {
	color:gray;
}
.clubprefix {color:blue}
.pinnedprefix {}

.spoiler {
  border: 1px solid black;
  padding: 2px 0px;
  margin-top: 5px
}

.spoiler_header {
  padding-left: 16px;
  height: 18px;
  vertical-align: abs-middle;
  font-size: 80%;
}

.spoiler .body {
  border-top: 1px solid black;
  padding: 0px 2px;
}

.open .spoiler_header {
  background: url('http://forum.sources.ru/style_images/NBS-Snow-262/minus.png') 4px center no-repeat;
}

.closed .spoiler_header {
  background: url('http://forum.sources.ru/style_images/NBS-Snow-262/plus.png') 4px center no-repeat;
}
span.attach_preview{
	display:inline-block;
	clear: none;
	vertical-align: baseline;
	text-align: center;
}
span.attach_preview p {
	display:inline;
	font-weight: bold;
	font-size: 9px;
}
span.attach_preview img {
	border: 1px solid black;
	border-spacing: 0px;
	padding: 0 0 0 0;
	display:inline;
}
span.attach_preview p img {
	border: 0px;
}
#GlobalMessage {
    font-size: 10px;
	margin: 3px 0px 3px 0px;
	font-weight: bold;
	color: #3A4F6C;
	background-color: #DFE6EF;
	border: 1px solid #BCD0ED;
}
#GlobalMessage a:link,
#GlobalMessage a:visited,
#GlobalMessage a:active {
    font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	color: #3A4F6C;
}

.topic-favorite .topic-column-title {
    color: #333;
    background-color: #BCF;
}
.topics .selected td {
    color: #333 !important;
    background-color: #BCF !important;
}
.topic-hidden .topic-column-title {
    color: #333333;
    background-color: #f9f9f9
}
.topic-row .topic-column-last_post,
.topic-row .topic-column-last_post a:link,
.topic-row .topic-column-last_post a:active,
.topic-row .topic-column-last_post a:visited,
.topic-row .topic-column-last_post a:hover
{
    font-size: 10px;
    color: #4969AA;
}
