.p	{table-layout:fixed}
.code,pre{
    margin:0;
    white-space:-o-pre-wrap;
    white-space:-moz-pre-wrap;
    word-wrap:break-word;
}
PRE	{
    MARGIN: 0px;
    WORD-WRAP: break-word;
}

.open .body {    display: block; }
.closed .body {    display: none; }
.spoiler_header {   cursor: pointer; }

.code pre{
	border: 0px;
}
