.p	{table-layout:fixed}
.code,pre{
    margin:0;
    white-space:-o-pre-wrap;
    white-space:-moz-pre-wrap;
    word-wrap:break-word;
}
PRE	{
    MARGIN: 0px;
    WORD-WRAP: break-word;
}

.open .body {    display: block; }
.closed .body {    display: none; }
.spoiler_header {   cursor: pointer; }

.code pre{
	border: 0px;
}
.b-queued_topic-approve-button a:link,
.b-queued_topic-reject-button a:link,
.b-queued_topic-approve-button a:hover,
.b-queued_topic-reject-button a:hover,
.b-queued_topic-approve-button a:visited,
.b-queued_topic-reject-button a:visited {
    color: red;
}

.e-queued-topic-actions-title {
    color: red;
    font-weight: bold;
}

.b-posts-need-approve-button a:active,
.b-posts-need-approve-button a:link,
.b-posts-need-approve-button a:hover,
.b-posts-need-approve-button a:visited {
    font-weight: bold;
    color: red;
}
