@import "../html/jqcd/skins/light-blue/skin.css";

html { overflow-x: auto }
.tag-mm-header,
.mstop {
    BORDER-RIGHT: #000 1px dotted;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000 1px dotted;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND: #e4eaf2;
    PADDING-BOTTOM: 3px;
    MARGIN: 8px auto 0px;
    BORDER-LEFT: #8394b2 4px solid;
    COLOR: #000;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
}
.tag-mm-body,
.msmain {
    BORDER-RIGHT: #000 1px dotted;
    PADDING-RIGHT: 4px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 4px;
    BACKGROUND: #fafcfe;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px auto 8px;
    BORDER-LEFT: #8394b2 4px solid;
    COLOR: #465584;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #000 1px dotted;
}
.tag-gm-header {
    BORDER-RIGHT: #000 1px dotted;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #000 1px dotted;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND: #faa298;
    PADDING-BOTTOM: 3px;
    MARGIN: 8px auto 0px;
    BORDER-LEFT: #8394b2 4px solid;
    COLOR: #000;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: 0px;
}
.tag-gm-body {
    BORDER-RIGHT: #000 1px dotted;
    PADDING-RIGHT: 4px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 4px;
    BACKGROUND: #fafcfe;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px auto 8px;
    BORDER-LEFT: #8394b2 4px solid;
    COLOR: #465584;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #000 1px dotted;
}
form { display: inline; }
img { vertical-align: middle; border: 0px; }
BODY {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 11px;
    color: #000;
    margin: 0px 10px 0px 10px;
    background-color: #FFF;
}

TABLE, TR, TD {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 11px;
    color: #000;
}
a:link, a:active, a:visited {
    text-decoration: underline;
    color: #000000;
}
a:hover { color: #CC3333; }
fieldset.search {
    padding: 6px;
    line-height: 150%;
}
label { cursor: pointer }
img.attach { border: 2px outset #EEF2F7; padding: 2px }
.googleroot { padding: 6px; line-height: 130% }
.googlechild { padding: 6px; margin-left: 30px; line-height: 130% }
.googlebottom, .googlebottom a:link, .googlebottom a:visited, .googlebottom a:active { font-size: 11px; color: #3A4F6C }
.googlish, .googlish a:link, .googlish a:visited, .googlish a:active { font-size: 14px; font-weight: bold; color: #00D }
.googlepagelinks { font-size: 1.1em; letter-spacing: 1px }
.googlesmall, .googlesmall a:link, .googlesmall a:active, .googlesmall a:visited { font-size: 10px; color: #434951 }
li.helprow { padding: 0px; margin: 0px 0px 10px 0px }
ul#help { padding: 0px 0px 0px 15px }
option.cat { font-weight: bold }
option.sub { font-weight: bold; color: #555 }
.caldate { text-align: right; font-weight: bold; font-size: 11px; color: #777; background-color: #DFE6EF; padding: 4px; margin: 0px }
.warngood { color: green }
.warnbad { color: red }
#padandcenter { margin-left: auto; margin-right: auto; text-align: center; padding: 14px 0px 14px 0px }
#profilename { font-size: 28px; font-weight: bold }
#calendarname { font-size: 22px; font-weight: bold }
#photowrap { padding: 6px }
#phototitle { font-size: 24px; border-bottom: 1px solid black }
#photoimg { text-align: center; margin-top: 15px }
#ucpmenu { line-height: 150%; width: 22%; border: 1px solid #345487; background-color: #F5F9FD }
#ucpmenu p { padding: 2px 5px 6px 9px; margin: 0px }
#ucpcontent { background-color: #F5F9FD; border: 1px solid #345487; line-height: 150%; width: auto }
#ucpcontent p { padding: 10px; margin: 0px }
#ipsbanner { position: absolute; top: 1px; right: 5% }
#logostrip { border: 1px solid #345487; background-color: #6EA1E3; padding: 0px; margin: 0px }
.logo { color: #FFFFFF }
.logo a:link, .logo a:visited, .logo a:active { text-decoration: none; color: #FFFFFF }
.logo a:hover { text-decoration: underline; color: #000000 }
#top-menu { border: 1px solid #BCD0ED; background-color: #DFE6EF; font-size: 10px; margin: 3px 0px 3px 0px; color: #3A4F6C; font-weight: bold }
#top-menu a:link, #top-menu  a:visited, #top-menu a:active { font-weight: bold; font-size: 10px; text-decoration: none; color: #3A4F6C }
#userlinks { border: 1px solid #C2CFDF; background-color: #F0F5FA }
.b-navigation-wrapper { font-weight: bold; padding: 6px 0px 6px 0px }
.activeuserstrip { background-color: #BCD0ED; padding: 6px }
.pformstrip { background-color: #D1DCEB; color: #3A4F6C; font-weight: bold; padding: 7px; margin-top: 1px }
.pformleft { background-color: #F5F9FD; padding: 6px; margin-top: 1px; width: 10%; border-top: 1px solid #C2CFDF; border-right: 1px solid #C2CFDF }
.pformleftw { background-color: #F5F9FD; padding: 6px; margin-top: 1px; width: 40%; border-top: 1px solid #C2CFDF; border-right: 1px solid #C2CFDF }
.pformright { background-color: #F5F9FD; padding: 6px; margin-top: 1px; border-top: 1px solid #C2CFDF }
.post1 { background-color: #F8F8FD }
.post2 { background-color: #E7E9EE }
.topic-links { background-color: #D1DCEB; padding: 7px; margin-top: 1px; font-size: 10px; text-align: right; font-weight: bold; }
.row1 { background-color: #F5F9FD }
.row2 { background-color: #DFE6EF }
.row3 { background-color: #EEF2F7 }
.row4 { background-color: #E4EAF2 }
.pinned_topic, .topic-pinned .row1, .topic-pinned .row2, .topic-pinned .row3, .topic-pinned .row4 { background-color: #D1DCEB }
.e-posts-separator, .darkrow1 { background-color: #6EA1E3 }
.darkrow2 { background-color: #BCD0ED; color: #3A4F6C }
.darkrow3 { background-color: #D1DCEB; color: #3A4F6C }
.hlight { background-color: #DFE6EF }
.dlight { background-color: #EEF2F7 }
.titlemedium { font-weight: bold; color: #3A4F6C; background-color: #D1DCEB; padding: 7px; margin: 0px }
.titlemedium  a:link, .titlemedium  a:visited, .titlemedium  a:active { text-decoration: underline; color: #3A4F6C }
.maintitle { color: #FFFFFF; background-color: #6EA1E3; vertical-align: middle; font-weight: bold; letter-spacing: 1px; font-size: 12px; padding-top: 8px; padding-bottom: 8px; padding-left: 6px }
.maintitle a:link, .maintitle  a:visited, .maintitle  a:active { text-decoration: none; color: #FFFFFF }
.maintitle a:hover { text-decoration: underline }
.plainborder { border: 1px solid #345487; background-color: #F5F9FD }
.tableborder { border: 1px solid #345487; background-color: #6EA1E3; }
.tablefill { border: 1px solid #345487; background-color: #F5F9FD; padding: 6px }
.tablepad { background-color: #F5F9FD; padding: 6px }
.tablebasic { width: 100%; padding: 0px 0px 0px 0px; margin: 0px; border: 0px }
.wrapmini { float: left; line-height: 1.5em; width: 25% }
.pagelinks { float: left; line-height: 1.2em; width: 35% }
.desc { font-size: 10px; color: #434951 }
.edit { font-size: 9px }
.e-signature { font-size: 10px; color: #999999; line-height: 150% }
.postdetails { font-size: 10px }
.postcolor { font-size: 12px; line-height: 160% }
.normalname { font-size: 12px; font-weight: bold; color: #003 }
.normalname a:link, .normalname a:visited, .normalname a:active { font-size: 12px }
.unreg { font-size: 11px; font-weight: bold; color: #900 }
.searchlite { font-weight: bold; color: #F00; background-color: #FF0 }
.quote { font-family: Verdana, Arial; font-size: 11px; color: #465584; background-color: #FAFCFE; border: 1px solid #000; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px;	overflow: auto; }
.code {
	font-size: 11px;
	color: #465584;
	background-color: #FAFCFE;
	border: 1px solid #000;
        line-height: 120%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
TABLE.post_table {
  background-color: #345487;
  vertical-align:top;
}
TABLE.post_table TD{
  background-color: #CCC;
  padding: 3px 3px 3px 3px;
}
TABLE.post_table TH{
  background-color: #9FBCE3;
  padding: 3px 3px 3px 3px;
}


.copyright { font-family: Verdana, Tahoma, Arial, Sans-Serif; font-size: 9px; line-height: 12px }
.codebuttons { font-size: 10px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }
.forminput, .radiobutton, .checkbox { font-size: 11px; font-family: verdana, helvetica, sans-serif; vertical-align: middle }
.textinput { background-color: #E4EAF2; font-size: 12px; font-family: courier new, serif; vertical-align: middle }
.thin { padding: 6px 0px 6px 0px; line-height: 140%; margin: 2px 0px 2px 0px; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF }
.purple { color: purple; font-weight: bold }
.red { color: red; font-weight: bold }
.green { color: green; font-weight: bold }
.blue { color: blue; font-weight: bold }
.orange { color: #F90; font-weight: bold }
.voteprefix {color:green}
.e-new_warning_notice, .movedprefix {color:red;}
.mirrorprefix {
	color:green;
}
.mirrorhint {
	color:gray;
}
.clubprefix {color:blue}
.pinnedprefix {}


.spoiler {
  border: 1px solid black;
  margin-top: 5px
}

.spoiler_header {
  padding: 2px 0 2px 16px;
  font-size: 80%;
}

.spoiler .body {
  border-top: 1px solid black;
  padding: 0px 2px;
}

.open .spoiler_header {
  background: url('http://forum.sources.ru/style_images/1/minus.png') 4px center no-repeat;
}

.closed .spoiler_header {
  background: url('http://forum.sources.ru/style_images/1/plus.png') 4px center no-repeat;
}
span.attach_preview{
	display:inline-block;
	clear: none;
	vertical-align: baseline;
	text-align: center;
}
span.attach_preview p {
	display:inline;
	font-weight: bold;
	font-size: 9px;
}
span.attach_preview img {
	border: 1px solid black;
	border-spacing: 0px;
	padding: 0 0 0 0;
	display:inline;
}
span.attach_preview p img {
	border: 0px;
}
#GlobalMessage {
    border: 1px solid #BCD0ED;
	background-color: #DFE6EF;
	font-size: 10px;
	margin: 3px 0px 3px 0px;
	color: #3A4F6C;
	font-weight: bold;
}
#GlobalMessage a:link,
#GlobalMessage a:visited,
#GlobalMessage a:active {
    font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	color: #3A4F6C;
}
.topic-favorite .b-topics-list-column-title {
    background-color: #BCD0ED;
    color: #3A4F6C;
}
.topics .selected td {
    background-color: #BCD0ED;
    color: #3A4F6C
}

.topic-hidden .b-topics-list-column-title {
    background-color: #D1DCEB;
    color: #3A4F6C;
}
.e-author-online-text {
    margin-left: 3px;
    color:green;
}

.e-author-online-text:before {
    content: '(';
    color: black;
}
.e-author-online-text:after {
    content: ')';
    color: black;
}
.b-post-actions {
    background-color: #E4EAF2
}

.e-go_new_post-link {
    font-weight: bold;
    font-family: arial, sans-serif;
}

.b-topics-list-row .b-topics-list-column-last_post {
    font-size: 10px;
    color: #434951;
}

td.b-menu-item {
    padding-top: 2px;
    padding-bottom: 0;
}

.b-menu-item img {
    padding-bottom: 2px;
}


.friends-online {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.b-queued_topic-approve-button a:link,
.b-queued_topic-reject-button a:link,
.b-queued_topic-approve-button a:hover,
.b-queued_topic-reject-button a:hover,
.b-queued_topic-approve-button a:visited,
.b-queued_topic-reject-button a:visited {
    color: red;
}

.e-queued-topic-actions-title {
    color: red;
    font-weight: bold;
}

.b-posts-need-approve-button a:active,
.b-posts-need-approve-button a:link,
.b-posts-need-approve-button a:hover,
.b-posts-need-approve-button a:visited {
    font-weight: bold;
    color: red;
}

ul.b-breadcrumbs-top li {
    list-style: none;
    background-image:  url('/style_images/1/open.gif');
    background-repeat: no-repeat;
}
ul.b-breadcrumbs-top li:first-child{
    list-style: none;
    background-image: url('/style_images/1/nav.gif');
    background-repeat: no-repeat;
}

.b-breadcrumbs-bottom li:first-child {
    background-image: url('/style_images/1/nav.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding: 3px 0 4px 20px;
}

.pm-list-header-row, .pm-list-footer-row { font-weight: bold; color: #3A4F6C; background-color: #D1DCEB; padding: 7px; margin: 0px }
.pm-list-header-row  a:link, .pm-list-header-row  a:visited, .pm-list-header-row  a:active { text-decoration: underline; color: #3A4F6C }
.pm-list-row { background-color: #EEF2F7 }
.pm-list-row.selected { background-color: #DFE6EF }

.tag-quote {
    font-family: verdana, tahoma, arial, sans-serif;
}
