@import "/html/jqcd/jqcd.css";
img.icon_off{
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.p	{table-layout:fixed}
.code{
    margin:2px 0px 0px 0px;
    padding:0;
    white-space: nowrap;
    font-family: monospace;
    overflow-x: auto;
    width: 100%;
}
.code {
	margin: 0 !important;
	padding: 0 !important;
}
.code_wrap {
    white-space: normal !important;
}
.code_collapsed {
    max-height: 15em;
    overflow-y: auto;
}
.code_expanded {
	max-height: none !important;
}
.pre_code {
    margin:1px 0px 0px 0px;
    padding:3px 0px 0px 0px;
    border: 0;
}
.line_coloured_code li:nth-child(2n), .line_coloured_code div.code_line:nth-child(2n) {
	background-color:rgba(0,0,0,0.03);
}
.line_coloured_code li:nth-child(2n+1), .line_coloured_code div.code_line:nth-child(2n+1) {
	background-color:rgba(255,255,255,0.03);
}
.pre_code span {
	cursor: pointer;
}
.code span {
	cursor: auto;
}
.code ol li {
	border-left: 2px solid green;
	padding: 0em 0.5em 0em 0.5em;
	margin: 0em 0em 0em 3em;
	line-height: 1.5em;
	width: auto;
}

.code div.code_line {
	margin: 0;
	line-height: 1.5em;
	width: auto;
	border: 0 !important;
}
.code ol {
	padding: 0em 0em 0em 0.5em;
	margin: 0px 0px 0px 0px;
}

pre	{
    MARGIN: 0px;
    white-space: pre-wrap; /* css-3 */ 
    white-space: -moz-pre-wrap; /* Mozilla, 1999 */ 
    white-space: -pre-wrap; /* Opera 4-6 */ 
    white-space: -o-pre-wrap; /* Opera 7 */ 
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

.open .body {    display: block; }
.closed .body {    display: none; }
.spoiler_header {   cursor: pointer; }


.autodelete_message {
	color: red;
	font-size: 9px;
	display: block;
	margin-top: 2em;
}

#upload_container input[type="file"] {
	margin-right: 1.5em;
}

/* DONATE FORM */
/* Для скинов:
 - Main
 - NewYear
 - Sources Winter
 - Xpression final
 - Text Skin
*/
.donate {
	background		: url('/img/5rub/button.png') 90% 95% no-repeat;
	display			: block;
	width			: 200px;
	height			: 50px;
	float			: right;
	border-collapse: collapse;
}
.donate td {background:none;}
.donate td.donate_text {
	font-family		: Verdana;
	font-size		: 11px;
	color			: #333399;
	text-align		: right;
	height			: 26px;
}
.donate td.donate_image {
	width			: 50px;
	height			: 100%;
	vertical-align	: bottom;
}
.donate td.donate_button {
	width			: 100%;
	height			: 24px;
	vertical-align		: top;
	padding-top		: 0px;	
}
.donate td.donate_button input {
	background-color: transparent;
	border			: 0px;
	font-weight		: bold;
	cursor			: pointer;
	color			: #333399;
	text-align		: right;
	width			: 100px;
	background		: url('/img/5rub/ya_money.png') 10% 50% no-repeat;
	margin-left		: 50px;
	margin-top		: 1px;
}
#upload_container input, #upload_container button {
	vertical-align: baseline;
}
