@import "/html/jqcd/jqcd.css";
img.icon_off{
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.p	{table-layout:fixed}
.code{
    margin:2px 0px 0px 0px;
    padding:0;
    white-space: nowrap;
    font-family: monospace;
    overflow-x: auto;
    width: 100%;
}
.code {
	margin: 0 !important;
	padding: 0 !important;
}
.code_wrap {
    white-space: normal !important;
}
.code_collapsed {
    max-height: 15em;
    overflow-y: auto;
}
.code_expanded {
	max-height: none !important;
}
.pre_code {
    margin:1px 0px 0px 0px;
    padding:3px 0px 0px 0px;
    border: 0;
}
.line_coloured_code li:nth-child(2n), .line_coloured_code div.code_line:nth-child(2n) {
	background-color:rgba(0,0,0,0.03);
}
.line_coloured_code li:nth-child(2n+1), .line_coloured_code div.code_line:nth-child(2n+1) {
	background-color:rgba(255,255,255,0.03);
}
.pre_code span {
	cursor: pointer;
}
.code span {
	cursor: auto;
}
.code ol li {
	border-left: 2px solid green;
	padding: 0em 0.5em 0em 0.5em;
	margin: 0em 0em 0em 3em;
	line-height: 1.5em;
	width: auto;
}

.code div.code_line {
	margin: 0;
	line-height: 1.5em;
	width: auto;
	border: 0 !important;
}
.code ol {
	padding: 0em 0em 0em 0.5em;
	margin: 0px 0px 0px 0px;
}

pre	{
    MARGIN: 0px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.open .body {    display: block; }
.closed .body {    display: none; }
.spoiler_header {   cursor: pointer; }


.autodelete_message {
	color: red;
	font-size: 9px;
	display: block;
	margin-top: 2em;
}

#upload_container input[type="file"] {
	margin-right: 1.5em;
}

/* DONATE FORM */
/* Для скинов:
 - Main
 - NewYear
 - Sources Winter
 - Xpression final
 - Text Skin
*/
.donate {
	background		: url('/img/5rub/button.png') 90% 95% no-repeat;
	display			: block;
	width			: 200px;
	height			: 50px;
	float			: right;
	border-collapse: collapse;
}
.donate td {background:none;}
.donate td.donate_text {
	font-family		: Verdana;
	font-size		: 11px;
	color			: #333399;
	text-align		: right;
	height			: 26px;
}
.donate td.donate_image {
	width			: 50px;
	height			: 100%;
	vertical-align	: bottom;
}
.donate td.donate_button {
	width			: 100%;
	height			: 24px;
	vertical-align		: top;
	padding-top		: 0px;
}
.donate td.donate_button input {
	background-color: transparent;
	border			: 0px;
	font-weight		: bold;
	cursor			: pointer;
	color			: #333399;
	text-align		: right;
	width			: 100px;
	background		: url('/img/5rub/ya_money.png') 10% 50% no-repeat;
	margin-left		: 50px;
	margin-top		: 1px;
}
#upload_container input, #upload_container button {
	vertical-align: baseline;
}

.no_controls_pre_code {
      display:none;
      z-index:3;
      position:absolute;
}

div.rules-border,
div.warning-message,
div.bordered-red {
	border: 2px solid red;
	/* must depend on skin */
	background-color: white;
}

div.rules-border {
	padding: 2px;
    background-color: transparent;
}

div.warning-message {
	margin: 10px 0;
	padding: 3px;
}

.red-word {
	color: red;
	font-weight: bold;
}

.topic-attached-links-title {
	color: maroon;
	font-weight: bold;
}

.topic-attached-links-list {
	margin-top:0;
	margin-bottom:0;
}

.topic-attached-links-list a {
	font-weight: bold;
}

.posts-topic-title {
	font-weight: bold;
}

.posts-links-bar {
	font-weight: bold;
}

.topic-mine .topic-column-author {
    font-weight: bold;
}

.topic-pinned .topic-column-title {
    font-weight: bold;
}
.last-post-author {
    font-weight: bold;
}

.topic-column-status,
.topic-column-icon,
.topic-column-author,
.topic-column-posts_num,
.topic-column-views_num,
.topic-column-mod_checkbox
{
    text-align: center;
}

.topic-column-last_post,
.topic-column-title
{
    text-align: left;
}

.topics-header th {
    white-space: nowrap;
}

.block {
    display: block;
}

#forum-subscribtion-buttons {
    text-align: center;
    margin: 0.8em 0;
}

.b-forum-filter-wrapper {
    margin-bottom: 1em !important;
}

.category {
    margin-bottom: 0.8em;
}

.stats-links {
    margin-bottom: 1em;
    text-align: center;
}

.b-subforum-subscribtion-buttons {
    text-align: center;
    margin-bottom: 0.8em;
}

.b-welcome-message {
    font-weight: bold;
}

.b-user-action-buttons .b-action-button:before {
    margin-left: 0.2em;
    margin-right: 0.3em;
    content: '\00B7'
}

.no-middot:before,
.b-action-button:first-child:before {
    content: '' !important;
    margin: 0 !important;
}

.b-menu-item-prefix {
    margin-right: 0.5em;
}

.rules-title {
    margin-bottom: 0.5em;
}

.rules-wrapper {
    text-align: left;
    margin-bottom: 0.2em;
}
#userlinks tr {
    text-align: center;
}

.b-logo-wrapper {
    width: 210px;
}

.b-header-banner-wrapper {
    width: 468px;
    text-align: right;
}

tr.b-neighbor-links-wrapper {
    height: 24px;
}
.b-neighbor-links-title {
    text-align: right;
}
.b-top-nav-banner-wrapper {
    text-align: right;
    vertical-align: middle;
    width: 468px;
}

.b-donate-wrapper {
    text-align: right;
    vertical-align: middle;
    width: 200px;
}

#BottomLinks {
    margin-top: 0.5em;
    text-align: right;
}

.b-navigation-wrapper {
    text-align: left;
}

.news,
.poll
{
    font-weight: bold;
}

.e-script-execution-stats {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.b-flash-player-wrapper {
	display: inline-block;
}
